{% from "radios/macro.njk" import govukRadios %}

{% macro birthOrAdoptionForm(options) %}
<form action="{{ options.action }}" method="POST">

  {{ govukRadios({
    classes: "govuk-radios",
    idPrefix: "birth-or-adoption",
    name: "birth-or-adoption",
    fieldset: {
      legend: {
        text: "Are you having a child through birth or adoption?",
        isPageHeading: true,
        classes: "govuk-fieldset__legend--xl"
      }
    },
    hint: {
      text: "Shared parental leave and pay is available for birth and adoptive parents."
    },
    items: [
      {
        value: "birth",
        text: "Birth",
        checked: checked("birth-or-adoption", "birth")
      },
      {
        value: "adoption",
        text: "Adoption",
        checked: checked("birth-or-adoption", "adoption")
      }
    ]
  }) }}


  <button type="submit" class="govuk-button">
    Continue
  </button>
</form>
{% endmacro %}