{% macro leaveExample(options) %}
  <h3 class="govuk-heading-s">
    Background
  </h3>
  {{ caller() }}
  <h3 class="govuk-heading-s">
    Leave pattern
  </h3>
  <ul class="govuk-body">
    {% if options.isAdoption %}
      <li>
        <strong>Primary adopter's leave:</strong> {{ options.mothersLeavePattern }}
      </li>
      <li>
        <strong>Partner's leave:</strong> {{ options.partnersLeavePattern }}
      </li>
    {% else %}
      <li>
        <strong>Mother's leave:</strong> {{ options.mothersLeavePattern }}
      </li>
      <li>
        <strong>Partner's leave:</strong> {{ options.partnersLeavePattern }}
      </li>
    {% endif %}
  </ul>
  <button class="govuk-button leave-example"
    data-mother-leave="{{ options.mothersLeaveWeeks }}"
    data-partner-leave="{{ options.partnersLeaveWeeks }}">
    See the plan
  </button>
{% endmacro %}