{% from "input/macro.njk" import govukInput %}
{% import "data-macros.njk" as dataMacros %}

{% extends "layout.html" %}

{% block pageTitle %}
  Plan leave and pay when you have a child
{% endblock %}

{% set dueDate %}
  {{ dataMacros.dueDate(data) }}
{% endset %}

{% block content %}
  <p>Dear employer,</p>
  <p>My child’s expected date of birth is [child’s expected date of birth].</p>
  <p>Please accept this as my notice to curtail my maternity leave and/or statutory maternity pay. I understand that my maternity leave will end on [maternity leave end date]. I understand that I can only reinstate my maternity leave if I revoke this notice before the [maternity leave end date].  I understand that I can only reinstate my SMP if I revoke this notice before [Statutory maternity pay end date].</p>
  <p>Please also accept this as notification that I am either not entitled to take SPL or I do not intend to take SPL, but that my partner will be.</p>
  <p>I declare that my partner has given a notice to their employer to take SPL and/or ShPP. I consent to my partner’s intended claim for SPL and/or ShPP.</p>
  <p>Mother’s Name</p>
  <p>Mother’s signature</p>
  <p>Date signed.</p>
{% endblock %}
