{% from "input/macro.njk" import govukInput %}
{% import "data-macros.njk" as dataMacros %}

{% extends "layout.html" %}

{% block pageTitle %}
  Plan leave and pay when you have a child
{% endblock %}

{% set dueDate %}
  {{ dataMacros.dueDate(data) }}
{% endset %}

{% block content %}
  <p>Dear employer,</p>
  <p>My child’s expected date of birth is [child’s expected date of birth].</p>
  <p>Please accept this as my notice to curtail my maternity leave and/or statutory maternity pay. I understand that my maternity leave will end on [maternity leave end date]. I understand that I can only reinstate my maternity leave if I revoke this notice before the [maternity leave end date].  I understand that I can only reinstate my SMP if I revoke this notice before [Statutory maternity pay end date]. This will create [total number of SPL weeks available] weeks shared parental leave.</p>
  <p>Please also accept this as notice that I am entitled to and intend to take SPL. I intend to take a total of [total number of SPL weeks taken] weeks SPL, starting on [mother’s SPL start date] and ending on [mother’s SPL end date].</p>
  <p>•	I have, or will have, been continuously employed for 26 weeks at the end of the 15th week before the week in which the child is due. I will remain employed with you until any period of SPL that I intend to take</p>
  <p>•	I had (or will have) the main responsibility for the care of the child at the time of the child’s birth (along with my partner who has made the declaration below)</p>
  <p>•	I will inform my employer immediately if I am no longer caring for my child</p>
  <p>•	I will give my employer a copy of my child’s birth certificate or a declaration of the date and place of the birth where no certificate is available if my employer asks for this within 14 days of the date of this notice</p>
  <p>•	I will give my employer the name and address of my partner’s employer or a declaration that they do not have an employer if my employer asks for this within 14 days of the date of this notice</p>
  <p>•	I (or my partner) have given a period of SPL notice</p>
  <p>•	The information provided in this declaration is accurate and meets the notification requirements for SPL</p>
  <p>•	The information provided in this declaration is accurate</p>
  <p>Mother’s name</p>
  <p>Mother’s signature</p>
  <p>Date mother signed</p>
  <p>Partner’s declaration (must be completed)</p>
  <p>•	I am the father of the child, or at the date of the birth I was/will be the mother’s spouse, the mother’s civil partner and/or the mother’s partner living with her and the child in an enduring relationship</p>
  <p>•	I had (or will have) the main responsibility for the care of our child at the time of the birth (along with the child’s mother)</p>
  <p>•	I have been (or will have been) employed or self-employed in England, Scotland or Wales in 26 weeks of the 66 weeks before the expected week of birth</p>
  <p>•	I have (or will have) earned in total at least £390 in 13 weeks of the 66 weeks before the expected week of childbirth</p>
  <p>•	I consent to the amount of SPL which the mother intends to take, as set out in Section D above.</p>
  <p>•	I consent to the mother’s employer processing the information I have provided</p>
  <p>•	The information provided in this declaration is accurate</p>
  <p>Father’s name</p>
  <p>Father’s signature</p>
  <p>Date father signed</p>
{% endblock %}
