{% extends "layout.html" %}

{% block pageTitle %}
  Help your employees plan their leave and pay
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h1 class="govuk-heading-xl">
        Help employees plan their leave and pay
      </h1>
      <h2 class="govuk-heading-m">
        Create your policy
      </h2>
      <p>
        Use this tool to generate a unique code that captures details about your company’s contractual parental leave policies, such as maternity, paternity, adoption or shared parental leave.
      </p>
      <p>
        You can share this code with your employees through your normal communication channels to help them <a class="govuk-link" href="/shared-parental-leave-planner">plan their leave and pay when they have a child</a>.
      </p>
      <p>
        You’ll need a separate code for each type of parental policy leave your company has. The same code can be used by multiple employees.
      </p>

      {{ govukButton({
        text: "Start now",
        href: "/enhanced-pay-and-leave-policy/type-of-leave",
        classes: "govuk-button--start"
      }) }}
    </div>
  </div>

{% endblock %}