{% extends "layout.html" %}

{% block pageTitle %}
  Help your employees plan their leave and pay
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "type-of-leave"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h1 class="govuk-heading-xl">
        Help your employees plan their leave and pay
      </h1>
      <form action="multiple-blocks-of-leave" method="POST">
        {{ govukRadios({
          classes: "govuk-radios--inline",
          idPrefix: "leave-type",
          name: "leave-type",
          fieldset: {
            legend: {
              text: "Will leave policy allow for multiple blocks of leave?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: 'If you select yes this means you are allowing users to plan mulitple blocks of leave at the enhanced pay rate. Select "No" if you are making your enhanced leave scheme only available to use for one block.'
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}

        <button type="submit" class="govuk-button">
          Continue
        </button>
      </form>
    </div>
  </div>

{% endblock %}