{% extends "layout.html" %}

{% block pageTitle %}
  Help your employees plan their leave and pay
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "index"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form action="type-of-leave" method="POST">
        {{ govukRadios({
          classes: "govuk-radios",
          idPrefix: "leave-type",
          name: "leave-type",
          fieldset: {
            legend: {
              text: "Select a leave type you'd like to provide information about",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          hint: {
            text: 'You can come back and select another one later'
          },
          items: [
            {
              value: "shared",
              text: "Shared parental leave",
              checked: data['leave-type'] == 'shared'
            },
            {
              value: "maternity",
              text: "Maternity leave",
              checked: data['leave-type'] == 'maternity'
            },
            {
              value: "paternity",
              text: "Paternity leave",
              checked: data['leave-type'] == 'paternity'
            },
            {
              value: "adoption",
              text: "Adoption leave",
              checked: data['leave-type'] == 'adoption'
            }
          ]
        }) }}

        <button type="submit" class="govuk-button">
          Continue
        </button>
      </form>
    </div>
  </div>

{% endblock %}