
<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8" lang="en"><![endif]--><!--[if gt IE 8]><!--><html lang="en">
<!--<![endif]-->
  <head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="robots" content="noindex, nofollow">
<meta name="description" content="You can start Shared Parental Leave (SPL) and Statutory Shared Parental Pay (ShPP) if you're eligible and you or your partner ends your maternity or adoption leave early - eligibility, entitlement, starting SPL and splitting blocks of leave">
<meta name="govuk:ab-test" content="RelatedLinksABTest4:B" data-analytics-dimension="65" data-allowed-variants="A,B,C">
<meta name="govuk:taxon-slugs" content="adoption-fostering-and-surrogacy,financial-help-when-having-a-baby,time-off,working-time-off-when-having-a-baby">
<meta name="govuk:taxon-slug" content="adoption-fostering-and-surrogacy">
<meta name="govuk:taxon-ids" content="5a9e6b26-ae64-4129-93ee-968028381e83,090f8b0b-02f6-446b-b2ec-6000d7cd8322,ebeaf804-c1b1-40cd-920f-319aa2b56ba3,1bd8be6f-fe5b-4b0b-a780-db1d873951b4">
<meta name="govuk:taxon-id" content="5a9e6b26-ae64-4129-93ee-968028381e83">
<meta name="govuk:themes" content="childcare-parenting, work">
<meta name="govuk:analytics:organisations" content="&lt;D1198&gt;&lt;D25&gt;">
<meta name="govuk:content-id" content="dc68775c-3df8-4930-ad22-bde7bfbb3b61">
<meta name="govuk:schema-name" content="guide">
<meta name="govuk:publishing-application" content="publisher">
<meta name="govuk:format" content="guide">
<meta name="csrf-token" content="f3aB+prE5hxYiQkV0QEUTFrJ1cyTx/ZJmei9K9xYgbp/YKkJ0qOQ9GRum5hCmol2XHG+L769xnyFBiQxVvYxkg==">
<meta name="csrf-param" content="authenticity_token">
    <meta charset="utf-8">
    <title lang="en">
      Print Shared Parental Leave and Pay - GOV.UK
  </title>

    <!--[if gt IE 8]><!--><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/govuk-template-c0b8ba8b1652aacad298d74f24752260187f538b50c40c2484f7f333cbc3cf2b.css" crossorigin="anonymous" integrity="sha256-wLi6ixZSqsrSmNdPJHUiYBh/U4tQxAwkhPfzM8vDzys=">
<!--<![endif]-->
    <!--[if IE 6]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/govuk-template-ie6-2c1bb089ee71d4d70a08ba94e4b363a99542c8feddf3aa979bc4f8962aed5e02.css" /><![endif]-->
    <!--[if IE 7]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/govuk-template-ie7-062e553ef49a9f884a3a1f885c8a18e829b6557046b075e1384f6092a60151d1.css" /><![endif]-->
    <!--[if IE 8]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/govuk-template-ie8-11027733d1abeac34c7bf14e37fea30366ad3a87cfd7f7a084de3a3b4b838412.css" /><![endif]-->
    <link rel="stylesheet" media="print" href="https://assets.publishing.service.gov.uk/static/govuk-template-print-1076519521c2fffbbf75ab3b0d3b32ee2d96ac7e9778f1cdfac1771eefd1a1c0.css" crossorigin="anonymous" integrity="sha256-EHZRlSHC//u/das7DTsy7i2WrH6XePHN+sF3Hu/RocA=">

    <link rel="stylesheet" media="all" href="https://assets.publishing.service.gov.uk/static/fonts-e9ec5a5f82e5c2a17927ce356e5a054cb28025ec1547ec5d00f5c98d2ec5e481.css" crossorigin="anonymous" integrity="sha256-6exaX4LlwqF5J841bloFTLKAJewVR+xdAPXJjS7F5IE=">
    <!--[if lt IE 9]><script src="https://assets.publishing.service.gov.uk/static/ie-a4524544a53d57a7e259b4bb966b9c32557c98c920b77e52d09304642b68401a.js" crossorigin="anonymous" integrity="sha256-pFJFRKU9V6fiWbS7lmucMlV8mMkgt35S0JMEZCtoQBo="></script><![endif]-->

    <link rel="shortcut icon" href="https://assets.publishing.service.gov.uk/static/favicon-8d811b8c3badbc0b0e2f6e25d3660a96cc0cca7993e6f32e98785f205fc40907.ico" type="image/x-icon">
    <link rel="mask-icon" href="https://assets.publishing.service.gov.uk/static/gov.uk_logotype_crown-de738c3fcce8ce2a91b67e89787090dc24a5cda0275ab6b75f6226c5b9619d3d.svg" color="#0b0c0c">
    <link rel="apple-touch-icon" sizes="180x180" href="https://assets.publishing.service.gov.uk/static/apple-touch-icon-180x180-ea1cbb1cbbeddfff275dfa6e8e46b84cd530892df79dc4882a8f99b802b49a90.png">
    <link rel="apple-touch-icon" sizes="167x167" href="https://assets.publishing.service.gov.uk/static/apple-touch-icon-167x167-181e404a50c572923285fb83f0fbd78da6b4e38e3ce52f8e6b8e29da8586450a.png">
    <link rel="apple-touch-icon" sizes="152x152" href="https://assets.publishing.service.gov.uk/static/apple-touch-icon-152x152-02457fcdcee8d309276305af2233d41bfb8fd055e855727d355e61bce7ffa9bb.png">
    <link rel="apple-touch-icon" href="https://assets.publishing.service.gov.uk/static/apple-touch-icon-a318f305290c523aed80082456175b46c95350c0eeac93f42e78a71c7a55544e.png">

    <meta name="theme-color" content="#0b0c0c">

    <meta name="viewport" content="width=device-width, initial-scale=1">

      <!--[if gt IE 8]><!--><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/core-layout-320f60dee2a2d28afe3cd752be863a9de25d66721da470e146cecaeea572deb0.css" crossorigin="anonymous" integrity="sha256-Mg9g3uKi0or+PNdSvoY6neJdZnIdpHDhRs7K7qVy3rA=">
<!--<![endif]-->
<!--[if IE 6]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/core-layout-ie6-2f7d1d1d04dc3e8039655eb6f9c7b47b4b04fd080abbfa48c554f2f8f60cabd7.css" /><script>var ieVersion = 6;</script><![endif]-->
<!--[if IE 7]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/core-layout-ie7-288992c1d81c8894bbad87368286e1c37901edbc91a5d59bb8c47009f056ccc6.css" /><script>var ieVersion = 7;</script><![endif]-->
<!--[if IE 8]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/core-layout-ie8-0072e05b0357ecdd119896aa032313c82b56c3abc87e5ec7bf4023a21fbd4c21.css" /><script>var ieVersion = 8;</script><![endif]-->

<link rel="stylesheet" media="print" href="https://assets.publishing.service.gov.uk/static/core-layout-print-9a2de3ce1590c8ca478a6f7edf5a2e4bad0c6291b1dd4a6e7ca85f653d9591b4.css" crossorigin="anonymous" integrity="sha256-mi3jzhWQyMpHim9+31ouS60MYpGx3UpufKhfZT2VkbQ=">



    <meta property="og:image" content="https://assets.publishing.service.gov.uk/static/opengraph-image-a1f7d89ffd0782738b1aeb0da37842d8bd0addbd724b8e58c3edbc7287cc11de.png">
  <!--[if gt IE 8]><!--><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/government-frontend/application-df4096097b4e5b2c25b74c82cd75b88376ffddd4c8467ea072cec33b98f6182d.css" crossorigin="anonymous" integrity="sha256-30CWCXtOWywlt0yCzXW4g3b/3dTIRn6gcs7DO5j2GC0=">
<!--<![endif]--><link rel="stylesheet" media="print" href="https://assets.publishing.service.gov.uk/government-frontend/print-f7f01f2b3c801cf3f64b53d5508644557517f490f232494d4fb5c755e5d53c0d.css" crossorigin="anonymous" integrity="sha256-9/AfKzyAHPP2S1PVUIZEVXUX9JDyMklNT7XHVeXVPA0=">
<!--[if IE 6]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/government-frontend/application-ie6-09843d5cd7882c7f29e2084e72bb2b8d4b194709ad9515d83f6e1dae874c95ce.css" /><script>var ieVersion = 6;</script><![endif]--><!--[if IE 7]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/government-frontend/application-ie7-a3414b57d69895e7269f7b04048defffa4086ae4a76e563daed86af005719150.css" /><script>var ieVersion = 7;</script><![endif]--><!--[if IE 8]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/government-frontend/application-ie8-fb038f3df70ce029602445d1aedcc21f158b5c0766a57db0fd23c48be6ee1757.css" /><script>var ieVersion = 8;</script><![endif]--><meta name="govuk:rendering-application" content="government-frontend">
</head>

  <body>
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>



    <div id="skiplink-container">
      <div>
        <a href="#content" class="skiplink">Skip to main content</a>
      </div>
    </div>

    <div id="global-cookie-message">
        <p>GOV.UK uses cookies to make the site simpler. <a href="https://www.gov.uk/help/cookies" data-module="track-click" data-track-category="cookieBanner" data-track-action="Cookie banner clicked">Find out more about cookies</a></p>
    </div>

    <header role="banner" id="global-header" class="">
      <div class="header-wrapper">
        <div class="header-global">
          <div class="header-logo">
            <a href="https://www.gov.uk" title="Go to the GOV.UK homepage" id="logo" class="content" data-module="track-click" data-track-category="homeLinkClicked" data-track-action="homeHeader">
              <img src="https://assets.publishing.service.gov.uk/static/gov.uk_logotype_crown_invert_trans-203e1db49d3eff430d7dc450ce723c1002542fe1d2bce661b6d8571f14c1043c.png" width="36" height="32" alt=""> GOV.UK
            </a>
          </div>
            <a href="#search" class="search-toggle js-header-toggle">Search</a>

  <form id="search" class="site-search" action="/search" method="get" role="search">
    <div class="content">
      <label for="site-search-text">Search</label>
      <input type="search" name="q" id="site-search-text" title="Search" class="js-search-focus">
      <input class="submit" type="submit" value="Search">
    </div>
  </form>

        </div>

      </div>
    </header>

      <div id="user-satisfaction-survey-container"></div>


    <div id="global-header-bar"></div>



  <div id="wrapper" class="direction-ltr">



<div class="gem-c-contextual-breadcrumbs">



<div class="gem-c-breadcrumbs govuk-breadcrumbs " data-module="track-click">
  <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item" aria-current="false">
          <a data-track-category="homeLinkClicked" data-track-action="homeBreadcrumb" data-track-label="" data-track-options="{}" class="govuk-breadcrumbs__link" aria-current="false" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item" aria-current="false">
          <a data-track-category="breadcrumbClicked" data-track-action="2" data-track-label="/browse/childcare-parenting" data-track-options='{"dimension28":"3","dimension29":"Childcare and parenting"}' class="govuk-breadcrumbs__link" aria-current="false" href="/browse/childcare-parenting">Childcare and parenting</a>
      </li>
      <li class="govuk-breadcrumbs__list-item" aria-current="false">
          <a data-track-category="breadcrumbClicked" data-track-action="3" data-track-label="/browse/childcare-parenting/financial-help-children" data-track-options='{"dimension28":"3","dimension29":"Financial help if you have children"}' class="govuk-breadcrumbs__link" aria-current="false" href="/browse/childcare-parenting/financial-help-children">Financial help if you have children</a>
      </li>
  </ol>
</div>


</div>


    <main role="main" id="content" class="guide" lang="en">

<div class="grid-row guide-print">
  <div class="column-two-thirds">
    <div class="gem-c-title

  gem-c-title--margin-bottom-5">
  <h1 class="gem-c-title__text ">
    Shared Parental Leave and Pay
  </h1>
</div>

      <section>
        <h1 class="part-title">
          1. How it works
        </h1>

<div class="gem-c-govspeak govuk-govspeak direction-ltr disable-youtube" data-module="govspeak">
      <p>You and your partner may be able to get Shared Parental Leave (<abbr title="Shared Parental Leave">SPL</abbr>) and Statutory Shared Parental Pay (<abbr title="Statutory Shared Parental Pay">ShPP</abbr>) if you’re having a baby or adopting a child.</p>

<p>You can share up to 50 weeks of leave and up to 37 weeks of pay between you.</p>

<p>You need to share the pay and leave in the first year after your child is born or placed with your family.</p>

<p>You can use <abbr title="Shared Parental Leave">SPL</abbr> to take leave in blocks separated by periods of work, or take it all in one go. You can also choose to be off work together or to stagger the leave and pay.</p>

<p>To get <abbr title="Shared Parental Leave">SPL</abbr> and <abbr title="Statutory Shared Parental Pay">ShPP</abbr>, you and your partner need to:</p>

<ul>
  <li>meet the eligibility criteria - there’s different <a href="/shared-parental-leave-and-pay/eligibility-for-birth-parents">criteria for birth parents</a> and <a href="/shared-parental-leave-and-pay/eligibility-for-adopters">adoptive parents</a>
</li>
  <li><a href="/shared-parental-leave-and-pay/applying-for-leave-and-pay">give notice to your employers</a></li>
</ul>


</div>

      </section>
      <section>
        <h1 class="part-title">
          2. Eligibility for birth parents
        </h1>

<div class="gem-c-govspeak govuk-govspeak direction-ltr disable-youtube" data-module="govspeak">
      <p>To be eligible for Shared Parental Leave (<abbr title="Shared Parental Leave">SPL</abbr>) and Statutory Shared Parental Pay (<abbr title="Statutory Shared Parental Pay">ShPP</abbr>), both parents must:</p>

<ul>
  <li>share responsibility for the child at birth</li>
  <li>meet work and pay criteria - these are different depending on which parent wants to use the shared parental leave and pay</li>
</ul>

<p>You’re not eligible if you started sharing responsibility for the child after it was born.</p>

<p>You can <a href="/pay-leave-for-parents">check if you can get leave and pay</a>, including <abbr title="Shared Parental Leave">SPL</abbr> and <abbr title="Statutory Shared Parental Pay">ShPP</abbr>.</p>

<div role="note" aria-label="Information" class="application-notice info-notice">
<p>The eligibility criteria are different if you’re <a href="/shared-parental-leave-and-pay/eligibility-for-adopters">adoptive parents</a>.</p>
</div>

<h2 id="if-both-parents-want-to-share-the-spl-and-shpp">If both parents want to share the <abbr title="Shared Parental Leave">SPL</abbr> and <abbr title="Statutory Shared Parental Pay">ShPP</abbr>
</h2>

<p>You and your partner must:</p>

<ul>
  <li>have been employed continuously by the same employer for at least 26 weeks by the end of the 15th week before the due date</li>
  <li>stay with the same employer while you take <abbr title="Shared Parental Leave">SPL</abbr>
</li>
  <li>be ‘<a href="/employment-status/employee">employees</a>’ (not ‘<a href="/employment-status/worker">workers</a>’)</li>
  <li>each earn on average at least £116 a week</li>
</ul>

<div role="note" aria-label="Information" class="application-notice info-notice">
<p>If either of you is a ‘worker’, you can share <abbr title="Statutory Shared Parental Pay">ShPP</abbr> but not <abbr title="Shared Parental Leave">SPL</abbr>. If either of you earns less than £116 a week, you can share <abbr title="Shared Parental Leave">SPL</abbr> but not <abbr title="Statutory Shared Parental Pay">ShPP</abbr>.</p>
</div>

<h2 id="if-the-mothers-partner-wants-to-take-the-spl-and-shpp">If the mother’s partner wants to take the <abbr title="Shared Parental Leave">SPL</abbr> and <abbr title="Statutory Shared Parental Pay">ShPP</abbr>
</h2>

<p>The mother must:</p>

<ul>
  <li>have been working for at least 26 weeks (they do not need to be in a row) during the 66 weeks before the week the baby’s due</li>
  <li>have earned at least £390 in total across any 13 of the 66 weeks</li>
</ul>

<p>The mother’s partner must:</p>

<ul>
  <li>have been employed continuously by the same employer for at least 26 weeks by the end of the 15th week before the due date</li>
  <li>stay with the same employer while they take <abbr title="Shared Parental Leave">SPL</abbr>
</li>
  <li>be an ‘<a href="/employment-status/employee">employee</a>’ (not a ‘<a href="/employment-status/worker">worker</a>’)</li>
  <li>earn on average at least £116 a week</li>
</ul>

<div role="note" aria-label="Information" class="application-notice info-notice">
<p>If the mother’s partner is a ‘worker’, they can get <abbr title="Statutory Shared Parental Pay">ShPP</abbr> but not <abbr title="Shared Parental Leave">SPL</abbr>. If the mother’s partner earns less than £116 a week, they can get <abbr title="Shared Parental Leave">SPL</abbr> but not <abbr title="Statutory Shared Parental Pay">ShPP</abbr>.</p>
</div>

<h2 id="if-the-mother-wants-to-take-the-spl-and-shpp">If the mother wants to take the <abbr title="Shared Parental Leave">SPL</abbr> and <abbr title="Statutory Shared Parental Pay">ShPP</abbr>
</h2>

<p>The mother’s partner must:</p>

<ul>
  <li>have been working for at least 26 weeks (they do not need to be in a row) during the 66 weeks before the week the baby’s due</li>
  <li>have earned at least £390 in total in 13 of the 66 weeks (add up the highest paying weeks, they do not need to be in a row)</li>
</ul>

<p>The mother must:</p>

<ul>
  <li>have been employed continuously by the same employer for at least 26 weeks by the end of the 15th week before the due date</li>
  <li>stay with the same employer while they take <abbr title="Shared Parental Leave">SPL</abbr>
</li>
  <li>be an ‘<a href="/employment-status/employee">employee</a>’ (not a ‘<a href="/employment-status/worker">worker</a>’)</li>
  <li>earn on average at least £116 a week</li>
</ul>

<div role="note" aria-label="Information" class="application-notice info-notice">
<p>If the mother is a ‘worker’, she can get <abbr title="Statutory Shared Parental Pay">ShPP</abbr> but not <abbr title="Shared Parental Leave">SPL</abbr>. If the mother earns less than £116 a week, she can get <abbr title="Shared Parental Leave">SPL</abbr> but not <abbr title="Statutory Shared Parental Pay">ShPP</abbr>.</p>
</div>


</div>

      </section>
      <section>
        <h1 class="part-title">
          3. Eligibility for adopters
        </h1>

<div class="gem-c-govspeak govuk-govspeak direction-ltr disable-youtube" data-module="govspeak">
      <p>To be eligible for Shared Parental Leave (<abbr title="Shared Parental Leave">SPL</abbr>) and Statutory Shared Parental Pay (<abbr title="Statutory Shared Parental Pay">ShPP</abbr>), both adoptive parents must:</p>

<ul>
  <li>share responsibility for the child</li>
  <li>meet the work and earnings criteria - these are different depending on which one of you wants to use the shared parental leave and pay</li>
</ul>

<div role="note" aria-label="Information" class="application-notice info-notice">
<p>The eligibility criteria are different if you’re <a href="/shared-parental-leave-and-pay/eligibility-for-birth-parents">birth parents</a>.</p>
</div>

<h2 id="if-both-parents-want-to-share-the-spl-and-shpp">If both parents want to share the <abbr title="Shared Parental Leave">SPL</abbr> and <abbr title="Statutory Shared Parental Pay">ShPP</abbr>
</h2>

<p>You and your partner must:</p>

<ul>
  <li>have been employed continuously by the same employer for at least 26 weeks by the end of the week you were matched with the child</li>
  <li>stay with the same employer while you take <abbr title="Shared Parental Leave">SPL</abbr>
</li>
  <li>be ‘<a href="/employment-status/employee">employees</a>’ (not ‘<a href="/employment-status/worker">workers</a>’)</li>
  <li>each earn on average at least £116 a week</li>
</ul>

<div role="note" aria-label="Information" class="application-notice info-notice">
<p>If either of you is a ‘worker’, you can share <abbr title="Statutory Shared Parental Pay">ShPP</abbr> but not <abbr title="Shared Parental Leave">SPL</abbr>. If either of you earns less than £116 a week, you can share <abbr title="Shared Parental Leave">SPL</abbr> but not <abbr title="Statutory Shared Parental Pay">ShPP</abbr>.</p>
</div>

<h2 id="if-only-one-of-the-parents-wants-to-take-the-spl-and-shpp">If only one of the parents wants to take the <abbr title="Shared Parental Leave">SPL</abbr> and <abbr title="Statutory Shared Parental Pay">ShPP</abbr>
</h2>

<p>The parent who wants to take the leave and pay must:</p>

<ul>
  <li>have been employed continuously by the same employer for at least 26 weeks by the end of the week you were matched with the child</li>
  <li>have stayed with the same employer while they take <abbr title="Shared Parental Leave">SPL</abbr>
</li>
  <li>be an ‘<a href="/employment-status/employee">employee</a>’ (not a ‘<a href="/employment-status/worker">worker</a>’</li>
  <li>earn on average at least £116 each a week</li>
</ul>

<p>The other parent must:</p>

<ul>
  <li>have been working for at least 26 weeks (they do not need to be in a row) during the 66 weeks before the week the child was placed with you</li>
  <li>have earned at least £390 in total in 13 of the 66 weeks (add up the highest paying weeks, they do not need to be in a row)</li>
</ul>

<div role="note" aria-label="Information" class="application-notice info-notice">
<p>If the parent who wants to take the leave and pay is a ‘worker’, they can get <abbr title="Statutory Shared Parental Pay">ShPP</abbr> but not <abbr title="Shared Parental Leave">SPL</abbr>. If they earn less than £116 a week, they can get <abbr title="Shared Parental Leave">SPL</abbr> but not <abbr title="Statutory Shared Parental Pay">ShPP</abbr>.</p>
</div>


</div>

      </section>
      <section>
        <h1 class="part-title">
          4. When you can start
        </h1>

<div class="gem-c-govspeak govuk-govspeak direction-ltr disable-youtube" data-module="govspeak">
      <p>You can only start Shared Parental Leave (<abbr title="Shared Parental Leave">SPL</abbr>) or Shared Parental Pay (<abbr title="Statutory Shared Parental Pay">ShPP</abbr>) once the child has been born or placed for adoption.</p>

<h2 id="for-spl-to-start">For <abbr title="Shared Parental Leave">SPL</abbr> to start</h2>

<p>The mother (or the person getting adoption leave) must either:</p>

<ul>
  <li>return to work, which ends any maternity or adoption leave</li>
  <li>give their employer ‘binding notice’ of the date when they plan to end their leave (you cannot normally change the date you give in binding notice)</li>
</ul>

<div role="note" aria-label="Information" class="application-notice info-notice">
<p>You can start <abbr title="Shared Parental Leave">SPL</abbr> while your partner is still on maternity or adoption leave as long as they’ve given binding notice to end it.</p>
</div>

<p>You can give binding notice and say when you plan to <a href="/shared-parental-leave-and-pay/applying-for-leave-and-pay">take your <abbr title="Shared Parental Leave">SPL</abbr></a> at the same time.</p>

<h3 id="if-the-mother-or-adopter-does-not-get-maternity-or-adoption-leave">If the mother or adopter does not get maternity or adoption leave</h3>

<p>The mother or adopter must end any maternity pay, adoption pay or Maternity Allowance so that they or their partner can get <abbr title="Shared Parental Leave">SPL</abbr>.</p>

<h2 id="for-shpp-to-start">For <abbr title="Statutory Shared Parental Pay">ShPP</abbr> to start</h2>

<p>The mother (or the person getting adoption pay) must give their employer binding notice of the date when they plan to end any maternity or adoption pay.</p>

<p>If they get Maternity Allowance, they must give notice to Jobcentre Plus instead.</p>

<p>They cannot restart maternity pay, Maternity Allowance or adoption pay once it’s ended.</p>

<div role="note" aria-label="Information" class="application-notice info-notice">
<p>You can start <abbr title="Statutory Shared Parental Pay">ShPP</abbr> while your partner is still on maternity pay, adoption pay or Maternity Allowance as long as they’ve given binding notice to end it.</p>
</div>

<p>You can give binding notice and say when you plan to <a href="/shared-parental-leave-and-pay/applying-for-leave-and-pay">take your <abbr title="Statutory Shared Parental Pay">ShPP</abbr></a> at the same time.</p>

<h2 id="compulsory-leave">Compulsory leave</h2>

<p>A mother cannot return to work before the end of the compulsory 2 weeks of maternity leave following the birth (4 weeks if she works in a factory). If you’re adopting, the person claiming adoption pay must take at least 2 weeks of adoption leave.</p>

<h2 id="cancelling-the-decision-to-end-maternity-or-adoption-leave">Cancelling the decision to end maternity or adoption leave</h2>

<p>The mother or adopter may be able to change their decision to end maternity or adoption leave early if both:</p>

<ul>
  <li>the planned end date has not passed</li>
  <li>they have not already returned to work</li>
</ul>

<p>One of the following must also apply:</p>

<ul>
  <li>you find out during the 8-week notice period that neither of you is eligible for <abbr title="Shared Parental Leave">SPL</abbr> or <abbr title="Statutory Shared Parental Pay">ShPP</abbr>
</li>
  <li>the mother or adopter’s partner has died</li>
  <li>the mother tells her employer less than 6 weeks after the birth (and she gave notice before the birth)</li>
</ul>


</div>

      </section>
      <section>
        <h1 class="part-title">
          5. What you'll get
        </h1>

<div class="gem-c-govspeak govuk-govspeak direction-ltr disable-youtube" data-module="govspeak">
      <p>If you’re <a href="/shared-parental-leave-and-pay/eligibility">eligible</a> and you or your partner end maternity or adoption leave and pay (or Maternity Allowance) early, then you can:</p>

<ul>
  <li>take the rest of the 52 weeks of maternity or adoption leave as Shared Parental Leave (<abbr title="Shared Parental Leave">SPL</abbr>)</li>
  <li>take the rest of the 39 weeks of maternity or adoption pay (or Maternity Allowance) as Statutory Shared Parental Pay (<abbr title="Statutory Shared Parental Pay">ShPP</abbr>)</li>
</ul>

<h2 id="how-much-pay-youll-get">How much pay you’ll get</h2>

<p><abbr title="Statutory Shared Parental Pay">ShPP</abbr> is paid at the rate of £145.18 a week or 90% of your average weekly earnings, whichever is lower.</p>

<p>This is the same as <a href="/maternity-pay-leave/pay">Statutory Maternity Pay (<abbr title="Statutory Maternity Pay">SMP</abbr>)</a> except that during the first 6 weeks <abbr title="Statutory Maternity Pay">SMP</abbr> is paid at 90% of whatever you earn (with no maximum).</p>

<div class="example">
<p><strong>Example</strong>
A woman decides to start her maternity leave 4 weeks before the due date and gives notice that she’ll start <abbr title="Shared Parental Leave">SPL</abbr> from 10 weeks after the birth (taking a total of 14 weeks maternity leave). She normally earns £200 a week.</p>

<p>She’s paid £180 (90% of her average weekly earnings) as <abbr title="Statutory Maternity Pay">SMP</abbr> for the first 6 weeks of maternity leave, then £145.18 a week for the next 8 weeks. Once she goes onto <abbr title="Shared Parental Leave">SPL</abbr>, she’s still paid £145.18 a week.</p>
</div>


</div>

      </section>
      <section>
        <h1 class="part-title">
          6. Applying for leave and pay
        </h1>

<div class="gem-c-govspeak govuk-govspeak direction-ltr disable-youtube" data-module="govspeak">
      <p>To get Shared Parental Leave (<abbr title="Shared Parental Leave">SPL</abbr>) or Shared Parental Pay (<abbr title="Statutory Shared Parental Pay">ShPP</abbr>) you must:</p>

<ul>
  <li>follow the rules for <a href="/shared-parental-leave-and-pay/when-you-can-start">starting <abbr title="Shared Parental Leave">SPL</abbr> and <abbr title="Statutory Shared Parental Pay">ShPP</abbr></a>
</li>
  <li>give your employer at least 8 weeks’ written notice of your leave dates</li>
</ul>

<p>You can do both at the same time using forms created by <abbr title="Advisory, Conciliation and Arbitration Service">Acas</abbr>.</p>

<div class="form-download">
<p><a href="http://www.acas.org.uk/media/word/0/b/Shared-parental-leave-forms-for-maternity.doc">Download ‘Shared parental leave forms (for maternity)’ (DOC, 156KB)</a></p>
</div>

<div class="form-download">
<p><a href="http://www.acas.org.uk/media/word/0/o/Shared-parental-leave-form-for-adoption.doc">Download ‘Shared parental leave forms (for adoption)’ (DOC, 159KB)</a></p>
</div>

<div class="form-download">
<p><a href="http://www.acas.org.uk/media/word/1/6/Shared-parental-leave-forms-for-parental-order-parents.doc">Download ‘Shared parental leave forms (for parental order surrogacy)’ (DOC, 160KB)</a></p>
</div>

<p>You can change your mind later about how much <abbr title="Shared Parental Leave">SPL</abbr> or <abbr title="Statutory Shared Parental Pay">ShPP</abbr> you plan to take and when you want to take it. You must give notice of any changes at least 8 weeks before the start of any leave.</p>

<div role="note" aria-label="Help" class="application-notice help-notice">
<p>You might not get <abbr title="Shared Parental Leave">SPL</abbr> or <abbr title="Statutory Shared Parental Pay">ShPP</abbr> if you do not include all the required information.</p>
</div>

<p>Your partner must apply to their own employer if they also want <abbr title="Shared Parental Leave">SPL</abbr> or <abbr title="Statutory Shared Parental Pay">ShPP</abbr>.</p>

<h2 id="giving-more-information">Giving more information</h2>

<p>Your employer can ask you for more information within 14 days of you applying for <abbr title="Shared Parental Leave">SPL</abbr> or <abbr title="Statutory Shared Parental Pay">ShPP</abbr>. They can ask for:</p>

<ul>
  <li>a copy of the birth certificate</li>
  <li>a declaration of the place and date of birth (if the birth has not been registered yet)</li>
  <li>the name and address of your partner’s employer or a declaration that your partner has no employer</li>
</ul>

<p>If you’re adopting, your employer can ask for the:</p>

<ul>
  <li>name and address of the adoption agency</li>
  <li>date you were matched with the child</li>
  <li>date the child will be start to live with you</li>
  <li>name and address of your partner’s employer or a declaration that your partner has no employer</li>
</ul>

<p>You must give this information within 14 days of being asked for it.</p>


</div>

      </section>
      <section>
        <h1 class="part-title">
          7. Booking blocks of leave
        </h1>

<div class="gem-c-govspeak govuk-govspeak direction-ltr disable-youtube" data-module="govspeak">
      <p>You can book up to 3 separate blocks of Shared Parental Leave (<abbr title="Shared Parental Leave">SPL</abbr>) instead of taking it all in one go, even if you are not sharing the leave with your partner.</p>

<p>If your partner is also eligible for <abbr title="Shared Parental Leave">SPL</abbr>, you can take up to 3 blocks of leave each. You can take leave at different times or both at the same time.</p>

<p>You must tell your employer about your plans for leave when you <a href="/shared-parental-leave-and-pay/apply-for-shared-parental-leave">apply for <abbr title="Shared Parental Leave">SPL</abbr></a>. You can change these plans later but you must give your employer at least 8 weeks’ notice before you want to begin a block of leave.</p>

<h2 id="splitting-blocks-of-leave">Splitting blocks of leave</h2>

<p>If your employer agrees, you can split blocks into shorter periods of at least a week.</p>

<div class="example">
<p><strong>Example</strong></p>

<p>A mother finishes her maternity leave at the end of October and takes the rest of her leave as <abbr title="Shared Parental Leave">SPL</abbr>. She shares it with her partner, who’s also eligible. They each take the whole of November as their first blocks of <abbr title="Shared Parental Leave">SPL</abbr>. The partner then returns to work.</p>

<p>The mother also returns to work in December. She gives her employer notice that she’ll go on leave again in February - this is her second block of <abbr title="Shared Parental Leave">SPL</abbr>. Her employer agrees to a work pattern of 2 weeks on, 2 weeks off during the block.</p>
</div>

<h2 id="shared-parental-leave-in-touch-split-days">Shared Parental Leave in touch (<abbr title="Shared Parental Leave in touch">SPLIT</abbr>) days</h2>

<p>You and your partner can each work up to 20 days while you’re taking <abbr title="Shared Parental Leave">SPL</abbr>. These are called ‘Shared Parental Leave in touch’ (or <abbr title="Shared Parental Leave in touch">SPLIT</abbr>) days.</p>

<p>These days are in addition to the 10 <a href="/employee-rights-when-on-leave">‘keeping in touch’</a> (or <abbr title="keeping in touch">KIT</abbr>) days available to those on maternity or adoption leave.</p>

<p><abbr title="keeping in touch">KIT</abbr> and <abbr title="Shared Parental Leave in touch">SPLIT</abbr> days are optional - both you and your employer must agree to them.</p>


</div>

      </section>
  </div>
</div>

    </main>

<div class="gem-c-feedback gem-c-feedback--top-margin" data-module="feedback">

<div class="gem-c-feedback__prompt gem-c-feedback__js-show js-prompt" tabindex="-1">
  <div class="gem-c-feedback__js-prompt-questions js-prompt-questions">
    <h2 class="gem-c-feedback__prompt-question">Is this page useful?</h2>

    <a class="gem-c-feedback__prompt-link" data-track-category="yesNoFeedbackForm" data-track-action="ffMaybeClick" aria-expanded="false" role="button" style="display: none;" hidden="hidden" aria-hidden="true" href="/contact/govuk">
      Maybe
</a>
    <a class="gem-c-feedback__prompt-link gem-c-feedback__prompt-link--useful js-page-is-useful" data-track-category="yesNoFeedbackForm" data-track-action="ffYesClick" aria-expanded="false" role="button" href="/contact/govuk">
      Yes <span class="visually-hidden">this page is useful</span>
</a>
    <a class="gem-c-feedback__prompt-link js-toggle-form js-page-is-not-useful" data-track-category="yesNoFeedbackForm" data-track-action="ffNoClick" aria-controls="page-is-not-useful" aria-expanded="false" role="button" href="/contact/govuk">
      No <span class="visually-hidden">this page is not useful</span>
</a>
    <a class="gem-c-feedback__prompt-link gem-c-feedback__prompt-link--wrong js-toggle-form js-something-is-wrong" data-track-category="Onsite Feedback" data-track-action="GOV.UK Open Form" aria-controls="something-is-wrong" aria-expanded="false" role="button" href="/contact/govuk">
      Is there anything wrong with this page?
</a>  </div>

  <div class="gem-c-feedback__prompt-success js-prompt-success js-hidden" tabindex="-1">
    Thank you for your feedback
  </div>
</div>

  <form action="/contact/govuk/problem_reports" id="something-is-wrong" class="gem-c-feedback__form js-feedback-form js-hidden" data-track-category="Onsite Feedback" data-track-action="GOV.UK Send Form" method="post">
  <a href="#" class="gem-c-feedback__close gem-c-feedback__js-show js-close-form" data-track-category="Onsite Feedback" data-track-action="GOV.UK Close Form" aria-controls="something-is-wrong" aria-expanded="true" role="button">Close</a>

  <div class="gem-c-feedback__grid-row">
    <div class="gem-c-feedback__column-two-thirds">
      <div class="gem-c-feedback__error-summary gem-c-feedback__js-show js-hidden js-errors" tabindex="-1"></div>

      <input type="hidden" name="url" value="https://www.gov.uk/shared-parental-leave-and-pay/print">

      <h3 class="gem-c-feedback__form-heading">Help us improve GOV.UK</h3>
      <p id="feedback_explanation" class="gem-c-feedback__form-paragraph">Don’t include personal or financial information like your National Insurance number or credit card details.</p>


<div class="govuk-form-group">

<label for="input-f4e0bb0e" class="gem-c-label govuk-label">
  What were you doing?
</label>




  <input name="what_doing" class="gem-c-input govuk-input" id="input-f4e0bb0e" type="text" aria-describedby="feedback_explanation">
</div>


<div class="govuk-form-group">

<label for="input-18e7c365" class="gem-c-label govuk-label">
  What went wrong?
</label>




  <input name="what_wrong" class="gem-c-input govuk-input" id="input-18e7c365" type="text">
</div>


  <button class="gem-c-button govuk-button" type="submit">Send</button>


    </div>
  </div>
</form>

  <form action="/contact/govuk/email-survey-signup" id="page-is-not-useful" class="gem-c-feedback__form gem-c-feedback__form--email gem-c-feedback__js-show js-feedback-form js-hidden" data-track-category="yesNoFeedbackForm" data-track-action="Send Form" method="post">
  <a href="#" class="gem-c-feedback__close js-close-form" data-track-category="yesNoFeedbackForm" data-track-action="ffFormClose" aria-controls="page-is-not-useful" aria-expanded="true" role="button">Close</a>

  <div class="gem-c-feedback__grid-row">
    <div class="gem-c-feedback__column-two-thirds">
      <div class="gem-c-feedback__error-summary js-hidden js-errors" tabindex="-1"></div>

      <input name="email_survey_signup[survey_id]" type="hidden" value="footer_satisfaction_survey">
      <input name="email_survey_signup[survey_source]" type="hidden" value="/shared-parental-leave-and-pay/print">
      <input name="email_survey_signup[ga_client_id]" type="hidden" value="1627485790.1515403243">

      <h3 class="gem-c-feedback__form-heading">Help us improve GOV.UK</h3>
      <p id="survey_explanation" class="gem-c-feedback__form-paragraph">To help us improve GOV.UK, we’d like to know more about your visit today. We’ll send you a link to a feedback form. It will take only 2 minutes to fill in. Don’t worry we won’t send you spam or share your email address with anyone.</p>


<div class="govuk-form-group">

<label for="input-d4c15704" class="gem-c-label govuk-label">
  Email address
</label>




  <input name="email_survey_signup[email_address]" class="gem-c-input govuk-input" id="input-d4c15704" type="email" autocomplete="email" aria-describedby="survey_explanation">
</div>


  <button class="gem-c-button govuk-button" type="submit">Send me the survey</button>


      <a href="https://www.smartsurvey.co.uk/s/gov-uk-banner/?c=/shared-parental-leave-and-pay/print&amp;gcl=1627485790.1515403243" class="gem-c-feedback__email-link govuk-link" id="take-survey" target="_blank" rel="noopener noreferrer">Don’t have an email address?</a>
    </div>
  </div>
</form>

</div>

  </div>


    <footer class="group js-footer" id="footer" role="contentinfo">

      <div class="footer-wrapper">
            <div class="footer-categories">
      <div class="footer-explore">
        <h2>Prepare for EU Exit</h2>

        <ul>
          <li><a href="/business-uk-leaving-eu">Prepare your business or organisation for the UK leaving the EU</a></li>
          <li><a href="/prepare-eu-exit">Prepare for EU Exit if you live in the UK</a></li>
        </ul>
        <ul>
          <li><a href="/uk-nationals-living-eu">Living in Europe after the UK leaves the EU</a></li>
          <li><a href="/staying-uk-eu-citizen">Continue to live in the UK after it leaves the EU</a></li>
        </ul>
      </div>
    </div>
    <div class="footer-categories">
      <div class="footer-explore">
        <h2>Services and information</h2>

        <ul>
          <li><a href="/browse/benefits">Benefits</a></li>
          <li><a href="/browse/births-deaths-marriages">Births, deaths, marriages and care</a></li>
          <li><a href="/browse/business">Business and self-employed</a></li>
          <li><a href="/browse/childcare-parenting">Childcare and parenting</a></li>
          <li><a href="/browse/citizenship">Citizenship and living in the UK</a></li>
          <li><a href="/browse/justice">Crime, justice and the law</a></li>
          <li><a href="/browse/disabilities">Disabled people</a></li>
          <li><a href="/browse/driving">Driving and transport</a></li>
        </ul>
        <ul>
          <li><a href="/browse/education">Education and learning</a></li>
          <li><a href="/browse/employing-people">Employing people</a></li>
          <li><a href="/browse/environment-countryside">Environment and countryside</a></li>
          <li><a href="/browse/housing-local-services">Housing and local services</a></li>
          <li><a href="/browse/tax">Money and tax</a></li>
          <li><a href="/browse/abroad">Passports, travel and living abroad</a></li>
          <li><a href="/browse/visas-immigration">Visas and immigration</a></li>
          <li><a href="/browse/working">Working, jobs and pensions</a></li>
        </ul>
      </div>

      <div class="footer-inside-government">
        <h2>Departments and policy</h2>

        <ul>
          <li><a href="/government/how-government-works">How government works</a></li>
          <li><a href="/government/organisations">Departments</a></li>
          <li><a href="/world">Worldwide</a></li>
          <li><a href="/search/services">Services</a></li>
          <li><a href="/search/guidance-and-regulation">Guidance and regulation</a></li>
          <li><a href="/search/news-and-communications">News and communications</a></li>
          <!--li><a href="/search/statistics">Research and statistics</a></li-->
          <li><a href="/search/policy-papers-and-consultations">Policy papers and consultations</a></li>
          <li><a href="/search/transparency-and-freedom-of-information-releases">Transparency and freedom of information releases</a></li>
        </ul>
      </div>
      <hr>
    </div>


        <div class="footer-meta">
          <div class="footer-meta-inner">
              <h2 class="visuallyhidden">Support links</h2>
<ul>
  <li><a href="/help">Help</a></li>
  <li><a href="/help/cookies">Cookies</a></li>
  <li><a href="/contact">Contact</a></li>
  <li><a href="/help/terms-conditions">Terms and conditions</a></li>
  <li><a href="/cymraeg" lang="cy" hreflang="cy">Rhestr o Wasanaethau Cymraeg</a></li>
  <li>Built by the <a href="https://www.gov.uk/government/organisations/government-digital-service">Government Digital Service</a>
</li>
</ul>



            <div class="open-government-licence">
              <p class="logo"><a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence</a></p>
                <p>All content is available under the <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence v3.0</a>, except where otherwise stated</p>
            </div>
          </div>

          <div class="copyright">
            <a href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/uk-government-licensing-framework/crown-copyright/">© Crown copyright</a>
          </div>
        </div>
      </div>
    </footer>

    <div id="global-app-error" class="app-error hidden"></div>

    <script src="https://assets.publishing.service.gov.uk/static/govuk-template-c45ea9c181b996d9828678fafdaab270c3d54e79695c369383b233d46ccbbe80.js" crossorigin="anonymous" integrity="sha256-xF6pwYG5ltmChnj6/aqycMPVTnlpXDaTg7Iz1GzLvoA="></script>

      <script src="https://assets.publishing.service.gov.uk/static/libs/jquery/jquery-1.12.4-c731c20e2995c576b0509d3bd776f7ab64a66b95363a3b5fae9864299ee594ed.js" crossorigin="anonymous" integrity="sha256-xzHCDimVxXawUJ0713b3q2Sma5U2OjtfrphkKZ7llO0="></script>
<script src="https://assets.publishing.service.gov.uk/static/header-footer-only-7a5bda7312bf32b4853efba1e84a6f1d3b14733f3f3764f4c2417d404ffa98b6.js" crossorigin="anonymous" integrity="sha256-elvacxK/MrSFPvuh6EpvHTsUcz8/N2T0wkF9QE/6mLY="></script>
<script src="https://assets.publishing.service.gov.uk/static/surveys-cfd86545b49c89437032d0997a81be6dc15fae06d96703d568b0944ca4179112.js" crossorigin="anonymous" integrity="sha256-z9hlRbSciUNwMtCZeoG+bcFfrgbZZwPVaLCUTKQXkRI="></script>



    <script>if (typeof window.GOVUK === 'undefined') document.body.className = document.body.className.replace('js-enabled', '');</script>
  <script src="https://assets.publishing.service.gov.uk/government-frontend/application-e6e94711f0febb24503c598e32909983c5c248536a84e13744bb4f929f9fed43.js" crossorigin="anonymous" integrity="sha256-5ulHEfD+uyRQPFmOMpCZg8XCSFNqhOE3RLtPkp+f7UM="></script><script>window.onload = function() { window.print(); }</script><script type="application/ld+json">
  {"@context":"http://schema.org","@type":"BreadcrumbList","itemListElement":[{"@type":"ListItem","position":1,"item":{"name":"Home","@id":"https://www.gov.uk/"}},{"@type":"ListItem","position":2,"item":{"name":"Childcare and parenting","@id":"https://www.gov.uk/browse/childcare-parenting"}},{"@type":"ListItem","position":3,"item":{"name":"Financial help if you have children","@id":"https://www.gov.uk/browse/childcare-parenting/financial-help-children"}}]}
</script>
</body>
</html>
