$colour-header: govuk-colour('grey-3');
$colour-leave: lighten(govuk-colour('orange'), 25%);
$colour-maternity: lighten(govuk-colour('blue'), 50%);
$colour-compulsory-maternity: darken($colour-maternity, 25%);
$colour-paternity: lighten(govuk-colour('red'), 50%);
$colour-shared: lighten(govuk-colour('light-green'), 25%);
$colour-birth-week: govuk-colour('yellow');
$colour-disabled: govuk-colour('grey-2');

body:not(.has-js) .js-only {
  display: none;
}

#leave-calendar-container {
  max-height: 80vh;
  overflow-y: scroll;
  border: solid 2px govuk-colour('grey-2')
}

table#leave-calendar {
  margin: 0;

  th {
    position: sticky;
    top: 0;
    background-color: $colour-header;
    z-index: 1;
    text-align: center;
  }

  td {
    user-select: none;
  }

  td:not(:first-child) {
    width: 42%;
  }

  .birth-week {
    &, & + tr > td:first-child {
      background-color: $colour-birth-week;
    }
  }

  .month {
    background-color: $colour-header;
  }

  .week {
    td {
      position: relative;
      &.disabled label {
        cursor: not-allowed !important;
        background-color: $colour-disabled;
      }
    }
    input[type="checkbox"] {
      visibility: hidden;
      + label {
        cursor: cell;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }
    }
  }

  &.dragging {
    tr {
      cursor: n-resize;
    }
  }

  .unassigned-leave, .maternity-leave, .paternity-leave, .shared-parental-leave {
    padding: 10px 20px 10px 0;
    display: none;
  }

  @mixin leave($colour, $leave-type) {
    input:checked + label {
      background-color: $colour;
      .unassigned-leave, .maternity-leave, .paternity-leave, .shared-parental-leave {
        display: none;
      }
      .#{$leave-type} {
        display: block;
      }
    }
  }

  @include leave($colour-leave, 'unassigned-leave');

  @mixin maternityLeave() {
    @include leave($colour-maternity, 'maternity-leave');
  }

  @mixin compulsoryMaternityLeave() {
    @include leave($colour-compulsory-maternity, 'maternity-leave');
  }

  @mixin paternityLeave() {
    @include leave($colour-paternity, 'paternity-leave');
  }

  @mixin sharedParentalLeave() {
    @include leave($colour-shared, 'shared-parental-leave');
  }

  .week.before-birth-week {
    &.mother-leave .mother {
      @include maternityLeave();
    }
  }

  .birth-week ~ .week {
    &.mother-leave {
      .mother {
        @include maternityLeave();
        &.compulsory {
          @include compulsoryMaternityLeave();
        }
      }
      /* Shared parental leave after maternity leave has ended. */
      ~ .week:not(.mother-leave) ~ .week.mother-leave .mother {
        @include sharedParentalLeave();
      }
    }

    &.partner-leave {
      &.paternity-eligible-week {
        .partner {
          @include paternityLeave();
        }
        /* Shared parental leave after gap in partner's leave. */
        + .week:not(.partner-leave) ~ .week.partner-leave .partner {
          @include sharedParentalLeave();
        }
        /* Shared parental leave after two weeks of paternity leave. */
        + .partner-leave ~ .partner-leave .partner {
          @include sharedParentalLeave();
        }
      }
      /* Shared parental leave outside paternity leave eligibility window. */
      .partner {
        @include sharedParentalLeave();
      }
    }
  }
}

.planner-sidebar {
  dt {
    width: 50%;
  }

  .maternity-spl-remaining-total {
    color: $govuk-secondary-text-colour;
    &.negative {
      color: $govuk-error-colour;
    }
  }
}

.leave-messages {
  p {
    display: none;
  }
  .warning {
    color: $govuk-error-colour;
  }
  .info {
    color: $govuk-secondary-text-colour;
  }
}
