#leave-calendar-container {
  max-height: 80vh;
  overflow-y: scroll;
}

table#leave-calendar {
  th {
    position: sticky;
    top: 0;
    background-color: govuk-colour("grey-3");
    z-index: 1;
    text-align: center;
  }

  td {
    user-select: none;
  }

  td:not(:first-child) {
    width: 42%;
  }

  .birth-week {
    font-weight: bold;
    font-size: 0.875em;
    &, & + tr > td:first-child {
      background-color: #FFBF47;
    }
  }

  .shared {
    background-color: #B2D0C2;
    &::before {
      content: 'Shared parental leave'
    }
  }

  .mother.not-shared {
    background-color: #B2CEE4;
    &::before {
      content: 'Maternity leave'
    }
  }

  .partner.not-shared {
    background-color: #CEB1B1;
    &::before {
      content: 'Paternity leave'
    }
  }

  .mother.compulsory-maternity {
    background-color: darken(#B2CEE4, 20%);
    &::before {
      content: 'Compulsory maternity leave'
    }
  }

  .mother, .partner {
    cursor: pointer;
    &.compulsory-maternity {
      cursor: not-allowed;
    }
    &:hover {
      position: relative;
      &::after {
        content:"";
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.1);
      }
    }
  }
}

.remaining-total {
  color: $govuk-secondary-text-colour;
  &.negative {
    color: $govuk-error-colour;
  }
}

.leave-info {
  p {
    display: none;
  }
  .warning {
    color: $govuk-error-colour;
  }
  .info {
    color: $govuk-secondary-text-colour;
  }
}
