{% extends "layout.html" %}

{% block pageTitle %}
  Complete notices and declarations for Shared Parental Leave and Pay
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      {{ govukCheckboxes({
        idPrefix: "waste",
        name: "waste",
        fieldset: {
          legend: {
            text: data['primary-name'] | capitalize + "'s declarations to " + ('her' if data | isBirth else 'their') + " employer",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        hint: {
          text: "Tick the following statements if they are true."
        },
        items: [
          {
            value: "carcasses",
            text: "I am giving notice that I am entitled to and intend to take SPL and/or ShPP (delete as appropriate)"
          },
          {
            value: "carcasses",
            text: "I had or (will have) the main responsibility for the care of the child at the time of the child’s birth (along with the father/partner who has also made the necessary declarations)."
          },
          {
            value: "carcasses",
            text: "I am eligible for and intend to take SPL"
          },
          {
            value: "carcasses",
            text: "I am eligible for and intend to take ShPP"
          },
          {
            value: "carcasses",
            text: "I will be caring for my child during the weeks that I am on shared parental leave"
          },
          {
            value: "carcasses",
            text: "I will be caring for my child during the weeks in which I claim ShPP"
          },
          {
            value: "carcasses",
            text: "I will provide additional evidence to my employer (on request) if my employer asks for this within 14 days of the date of this notice."
          },
          {
            value: "carcasses",
            text: "I will inform my employer immediately if my circumstances change and I cease to care for my child"
          },
          {
            value: "carcasses",
            text: "I will inform my employer immediately if I withdraw or change my ‘Maternity Leave Curtailment Notice’ and/or my ‘Maternity Pay Curtailment Notice’ (this notice is in the next section)."
          },
          {
            value: "carcasses",
            text: "I will inform my employer immediately if I cease to be eligible for SPL and/or ShPP for some other reason"
          },
          {
            value: "carcasses",
            text: "I confirm that the information provided in my Notice of Entitlement and Intention and in the Mother's Declaration is correct"
          }
        ]
      }) }}

      <form method="POST" action="declarations-to-employer">
          <button type="submit" class="govuk-button">
            Continue
          </button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}