{% extends "layout.html" %}

{% block pageTitle %}
  Complete notices and declarations for Shared Parental Leave and Pay
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "parent-information"
  }) }}
{% endblock %}

{% block content %}
  {% set questionText %}
    {% if data | isBirth %}
      What is the child's expected date of birth / actual date of birth?
    {% else %}
      What date did, or will the child start living with you?
    {% endif %}
  {% endset %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form action="due-date" method="POST">
          {{ govukDateInput({
            id: "due-date",
            namePrefix: "due-date",
            fieldset: {
              legend: {
                text: questionText,
                isPageHeading: true,
                classes: "govuk-fieldset__legend--xl"
              }
            },
            hint: {
              text: "For example, 01 08 2019"
            },
            items: [
              {
                name: "day",
                classes: "govuk-input--width-2",
                value: data["due-date-day"]
              },
              {
                name: "month",
                classes: "govuk-input--width-2",
                value: data["due-date-month"]
              },
              {
                name: "year",
                classes: "govuk-input--width-4",
                value: data["due-date-year"]
              }
            ]
          }) }}
        <button type="submit" class="govuk-button">
          Continue
        </button>
      </form>
    </div>
  </div>
{% endblock %}