{% extends "layout.html" %}

{% block pageTitle %}
  Complete notices and declarations for Shared Parental Leave and Pay
{% endblock %}


{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "due-date"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h1 class="govuk-heading-xl">
        About the {{ data['primary-name'] }}'s {{data['primary-leave-type']}} pay and leave entitlement
      </h1>
      <form action="entitlement-and-intention" method="POST">
        {% call govukFieldset({
          legend: {
            text: data['primary-leave-type'] | capitalize + " leave entitlement",
            classes: "govuk-fieldset__legend--m"
          }
        }) %}
          {{ govukDateInput({
            id: "maternity-leave-start",
            namePrefix: "maternity-leave-start",
            fieldset: {
              legend: {
                text: "Date " + data['primary-leave-type'] + " leave will start",
                classes: "govuk-fieldset__legend--s"
              }
            },
            hint: {
              text: "For example, 01 08 2019"
            },
            items: [
              {
                name: "day",
                classes: "govuk-input--width-2",
                value: data['maternity-leave-start-day'] or data | maternityLeaveStart | day
              },
              {
                name: "month",
                classes: "govuk-input--width-2",
                value: data['maternity-leave-start-month'] or data | maternityLeaveStart | month
              },
              {
                name: "year",
                classes: "govuk-input--width-4",
                value: data['maternity-leave-start-year'] or data | maternityLeaveStart | year
              }
            ]
          }) }}

          {{ govukDateInput({
            id: "maternity-leave-end",
            namePrefix: "maternity-leave-end",
            fieldset: {
              legend: {
                text: "Date " + data['primary-leave-type'] + " leave will end",
                classes: "govuk-fieldset__legend--s"
              }
            },
            hint: {
              text: "For example, 01 08 2019"
            },
            items: [
              {
                name: "day",
                classes: "govuk-input--width-2",
                value: data['maternity-leave-end-day'] or data | maternityLeaveEnd | day
              },
              {
                name: "month",
                classes: "govuk-input--width-2",
                value: data['maternity-leave-end-month'] or data | maternityLeaveEnd | month
              },
              {
                name: "year",
                classes: "govuk-input--width-4",
                value: data['maternity-leave-end-year'] or data | maternityLeaveEnd | year
              }
            ]
          }) }}

          {{ govukInput({
            label: {
              text: "Number of weeks of " + data['primary-leave-type'] + " leave left at the date " + data['primary-leave-type'] + " leave will end",
              classes: "govuk-label--s"
            },
            classes: "govuk-input--width-2",
            id: "maternity-leave-weeks-remaining",
            name: "maternity-leave-weeks-remaining",
            value: data["maternity-leave-weeks-remaining"] or data | remainingMaternityLeaveWeeks
          }) }}

        {% endcall %}
        {% call govukFieldset({
          legend: {
            text: data['primary-leave-type'] | capitalize + " pay entitlement",
            classes: "govuk-fieldset__legend--m"
          }
        }) %}

          {{ govukDateInput({
            id: "maternity-pay-start",
            namePrefix: "maternity-pay-start",
            fieldset: {
              legend: {
                text: "Date " + data['primary-leave-type'] + " pay will start",
                classes: "govuk-fieldset__legend--s"
              }
            },
            hint: {
              text: "For example, 01 08 2019"
            },
            items: [
              {
                name: "day",
                classes: "govuk-input--width-2",
                value: data['maternity-pay-start-day'] or data | maternityPayStart | day
              },
              {
                name: "month",
                classes: "govuk-input--width-2",
                value: data['maternity-pay-start-month'] or data | maternityPayStart | month
              },
              {
                name: "year",
                classes: "govuk-input--width-4",
                value: data['maternity-pay-start-year'] or  data | maternityPayStart | year
              }
            ]
          }) }}

          {{ govukDateInput({
            id: "maternity-pay-end",
            namePrefix: "maternity-pay-end",
            fieldset: {
              legend: {
                text: "Date " + data['primary-leave-type'] + " pay will end",
                classes: "govuk-fieldset__legend--s"
              }
            },
            hint: {
              text: "For example, 01 08 2019"
            },
            items: [
              {
                name: "day",
                classes: "govuk-input--width-2",
                value: data['maternity-pay-start-day'] or data | maternityPayEnd | day
              },
              {
                name: "month",
                classes: "govuk-input--width-2",
                value: data['maternity-pay-start-month'] or data | maternityPayEnd | month
              },
              {
                name: "year",
                classes: "govuk-input--width-4",
                value: data['maternity-pay-start-year'] or  data | maternityPayEnd | year
              }
            ]
          }) }}

          {{ govukInput({
            label: {
              text: "Number of weeks of statutory " + data['primary-leave-type'] + " pay left at the date " + data['primary-leave-type'] + " pay will end",
              classes: "govuk-label--s"
            },
            classes: "govuk-input--width-2",
            id: "maternity-pay-weeks-remaining",
            name: "maternity-pay-weeks-remaining",
            value: data["maternity-pay-weeks-remaining"] or data | remainingMaternityPayWeeks
          }) }}

        {% endcall %}

        <button type="submit" class="govuk-button">
          Continue
        </button>
      </form>
    </div>
  </div>
{% endblock %}