{% extends "layout.html" %}

{% block pageTitle %}
  Apply for shared parental leave and pay
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h1 class="govuk-heading-xl">
        Apply for shared parental leave and pay
      </h1>

      <p>
        You can use this service to complete the notices and declarations required to take shared parental leave and pay.
      </p>
      <p>
        These forms can be completed online, but you’ll need to print, sign and give them to your employer 8 weeks before your first block of shared parental leave starts.
        Your employer may have their own forms they’d prefer you to use.
      </p>
      <p>
        <strong>Both</strong> parents need to give certain notices and declarations for <strong>either</strong> parent to take shared parental leave and pay.
      </p>
      <p>
        Before you start, you'll need to know:
      </p>
      <ul class="govuk-list">
        <li>
          <a href="/eligibility-tool/index" class="govuk-link">
            If you can get shared parental leave and pay
          </a>
        </li>
        <li>
          <a href="/shared-parental-leave-planner/index" class="govuk-link">
            How you intend to take shared parental leave and pay
          </a>
        </li>
      </ul>
      {{ govukButton({
        text: "Start now",
        href: "/notice/birth-or-adoption",
        classes: "govuk-button--start"
      }) }}
    </div>
  </div>

{% endblock %}