{% extends "layout.html" %}

{% block pageTitle %}
  Complete notices and declarations for Shared Parental Leave and Pay
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "parent-information/back"
  }) }}
{% endblock %}

{% block content %}
  {% set formParent = data['current-parent'] if data['current-parent-information-complete'] else data | otherParent %}
  {% set formParentName = data | otherParentName if data['current-parent-information-complete'] else data | currentParentName %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
    <h1 class="govuk-heading-xl">
      {{ formParentName | capitalize }}'s information
    </h1>
      <form action="parent-information" method="POST">
        {{ govukInput({
          label: {
            text: "What is the " + formParentName + "'s name?",
            classes: "govuk-label--m"
          },
          id: formParent + '-real-name',
          name: formParent + "-real-name",
          value: data[formParent + '-real-name']
        }) }}

        {{ govukInput({
          label: {
            text: "What is the " + formParentName + "'s national insurance number?",
            classes: "govuk-label--m"
          },
          hint: {
            text: "It’s on your National Insurance card, benefit letter, payslip or P60. For example, ‘QQ 12 34 56 C’."
          },
          classes: "govuk-input--width-10",
          id: formParent + '-ni-number',
          name: formParent + "-ni-number",
          value: data[formParent + '-ni-number']
        }) }}

        {% call govukFieldset({
          legend: {
            text: "What is the " + formParentName + "'s address?",
            classes: "govuk-fieldset__legend--m"
          }
        }) %}

        {% if data['current-parent-information-complete'] %}
          {% set formOtherParentName = data | currentParentName if data['current-parent-information-complete'] else data | otherParentName %}
          {{ govukButton({
            classes: 'hmcts-button--secondary',
            text: 'Use address from ' + formOtherParentName,
            attributes: {
              formaction: "parent-information/use-other-parent-address"
            }
          }) }}
        {% endif %}

          {{ govukInput({
            label: {
              html: 'Building and street <span class="govuk-visually-hidden">line 1 of 2</span>'
            },
            id: formParent + "-address-line-1",
            name: formParent + "-address-line-1",
            value: data[formParent + '-address-line-1']
          }) }}

          {{ govukInput({
            label: {
              html: '<span class="govuk-visually-hidden">Building and street line 2 of 2</span>'
            },
            id: formParent + "-address-line-2",
            name: formParent + "-address-line-2",
            value: data[formParent + '-address-line-2']
          }) }}

          {{ govukInput({
            label: {
              text: "Town or city"
            },
            classes: "govuk-!-width-two-thirds",
            id: formParent + "-address-town",
            name: formParent + "-address-town",
            value: data[formParent + '-address-town']
          }) }}

          {{ govukInput({
            label: {
              text: "County"
            },
            classes: "govuk-!-width-two-thirds",
            id: formParent + "-address-county",
            name: formParent + "-address-county",
            value: data[formParent + '-address-county']
          }) }}

          {{ govukInput({
            label: {
              text: "Postcode"
            },
            classes: "govuk-input--width-10",
            id: formParent + "-address-postcode",
            name: formParent + "-address-postcode",
            value: data[formParent + '-address-postcode']

          }) }}
        {% endcall %}

        <button type="submit" class="govuk-button">
          Continue
        </button>
      </form>
      <a class="govuk-link--no-visited-state govuk-!-font-size-19" href="/notice/parent-information/skip-parent">
        Skip and complete on printed form
      </a>
    </div>
  </div>

{% endblock %}