{% extends "layout.html" %}

{% block pageTitle %}
  Complete notices and declarations for Shared Parental Leave and Pay
{% endblock %}

{% block content %}
  {% set currentParent = data | currentParentName if data['current-parent-information-complete'] else data | otherParentName %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
    <h1 class="govuk-heading-xl">
      {{ currentParent | capitalize }}'s information
    </h1>
      <form action="parent-information" method="POST">
        {{ govukInput({
          label: {
            text: "What is the " + currentParent + "'s name?",
            classes: "govuk-label--m"
          },
          id: currentParent + '-real-name',
          name: currentParent + "-real-name",
          value: data[currentParent + '-real-name']
        }) }}

        {{ govukInput({
          label: {
            text: "What is the " + currentParent + "'s national insurance number?",
            classes: "govuk-label--m"
          },
          hint: {
            text: "It’s on your National Insurance card, benefit letter, payslip or P60. For example, ‘QQ 12 34 56 C’."
          },
          classes: "govuk-input--width-10",
          id: currentParent + '-ni-number',
          name: currentParent + "-ni-number",
          value: data[currentParent + '-ni-number']
        }) }}

        {% call govukFieldset({
          legend: {
            text: "What is the " + currentParent + "'s address?",
            classes: "govuk-fieldset__legend--m"
          }
        }) %}

          {{ govukInput({
            label: {
              html: 'Building and street <span class="govuk-visually-hidden">line 1 of 2</span>'
            },
            id: currentParent + "-address-line-1",
            name: currentParent + "-address-line-1",
            value: data[currentParent + '-address-line-1']
          }) }}

          {{ govukInput({
            label: {
              html: '<span class="govuk-visually-hidden">Building and street line 2 of 2</span>'
            },
            id: currentParent + "-address-line-2",
            name: currentParent + "-address-line-2",
            value: data[currentParent + '-address-line-2']
          }) }}

          {{ govukInput({
            label: {
              text: "Town or city"
            },
            classes: "govuk-!-width-two-thirds",
            id: currentParent + "-address-town",
            name: currentParent + "-address-town",
            value: data[currentParent + '-address-town']
          }) }}

          {{ govukInput({
            label: {
              text: "County"
            },
            classes: "govuk-!-width-two-thirds",
            id: currentParent + "-address-county",
            name: currentParent + "-address-county",
            value: data[currentParent + '-address-country']

          }) }}

          {{ govukInput({
            label: {
              text: "Postcode"
            },
            classes: "govuk-input--width-10",
            id: currentParent + "-address-postcode",
            name: currentParent + "-address-postcode",
            value: data[currentParent + '-address-postcode']

          }) }}
        {% endcall %}

        <button type="submit" class="govuk-button">
          Continue
        </button>
      </form>
      <a class="govuk-link--no-visited-state govuk-!-font-size-19" href="/notice/parent-information/skip-parent">
        Skip and complete on printed form
      </a>
    </div>
  </div>

{% endblock %}