{% extends "layout.html" %}

{% block pageTitle %}
  Complete notices and declarations for Shared Parental Leave and Pay
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      {{ govukCheckboxes({
        idPrefix: "waste",
        name: "waste",
        fieldset: {
          legend: {
            text: data['secondary-name'] | capitalize + "'s declarations to the " + data['primary-name'] + " employer",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        hint: {
          text: "Tick the following statements if they are true."
        },
        items: [
          {
            value: "carcasses",
            text: "I had (or will have) the main responsibility for the care of the child at the time of the child’s birth (along with the child’s mother)."
          },
          {
            value: "carcasses",
            text: "I am the father of the child and/or at the date of the child’s birth I was (or will be) the mother’s: spouse; civil partner; or a partner living with the mother and her child in an enduring family relationship."
          },
          {
            value: "carcasses",
            text: "I have read and comply with the conditions that apply to the father/partner where the mother is planning to take Shared Parental Leave (SPL) and/or Statutory Shared Parental Pay (ShPP)."
          },
          {
            value: "carcasses",
            text: "I consent to the mother taking the period or periods of SPL and/or ShPP (delete if not applicable) that she has indicated in section 1B."
          },
          {
            value: "carcasses",
            text: "I consent to the mother’s employer processing the information about me provided in the Mother’s Notice of Entitlement and Intention (see Section 1) and in the Father’s/Partner’s Declaration (see Section 3)."
          },
          {
            value: "carcasses",
            text: "I confirm that the information provided in the Father’s/Partner’s Declaration is correct."
          }
        ]
      }) }}

      <form method="POST" action="declarations-to-employer">
          <button type="submit" class="govuk-button">
            Continue
          </button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}