{% extends "layout.html" %}

{% block pageTitle %}
  Complete notices and declarations for Shared Parental Leave and Pay
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h1 class="govuk-heading-xl">
        Shared parental leave and pay entitlement
      </h1>
      <form action="shared-entitlement-and-intention" method="POST">

        {% if data['entitlement'] != 'pay' %}

          {% call govukFieldset({
            legend: {
              text: "Shared parental leave entitlement",
              classes: "govuk-fieldset__legend--m"
            }
          }) %}

            <p>
              Weeks of shared parental leave available: <strong>{{ data['maternity-leave-weeks-remaining'] }}</strong>
            </p>

            {{ govukInput({
              label: {
                text: "Number of weeks of shared parental leave the " + data['primary-name'] + " intends to take"
              },
              classes: "govuk-input--width-2",
              id: "primary-spl-weeks-number",
              name: "primary-spl-weeks-number",
              value: data | splWeeksIntention('primary')
            }) }}

            {{ govukInput({
              label: {
                text: "Number of weeks of shared parental leave the partner intends to take"
              },
              classes: "govuk-input--width-2",
              id: "secondary-spl-weeks-number",
              name: "secondary-spl-weeks-number",
              value: data | splWeeksIntention('secondary')
            }) }}
          {% endcall %}
        {% endif %}

        {% if data['entitlement'] != 'leave' %}

          {% call govukFieldset({
            legend: {
              text: "Shared parental pay entitlement",
              classes: "govuk-fieldset__legend--m"
            }
          }) %}

            <p>
              Weeks of shared parental pay available: <strong>{{ data['maternity-pay-weeks-remaining'] }}</strong>
            </p>

            {{ govukInput({
              label: {
                text: "Number of weeks of shared parental pay the " + data['primary-name'] + " intends to take"
              },
              classes: "govuk-input--width-2",
              id: "primary-shpp-weeks-number",
              name: "primary-shpp-weeks-number",
              value: data | shppWeeksIntention('primary')
            }) }}

            {{ govukInput({
              label: {
                text: "Number of weeks of shared parental pay the partner intends to take"
              },
              classes: "govuk-input--width-2",
              id: "secondary-shpp-weeks-number",
              name: "secondary-shpp-weeks-number",
              value: data | shppWeeksIntention('secondary')
            }) }}
          {% endcall %}
        {% endif %}

        <button type="submit" class="govuk-button">
          Continue
        </button>
      </form>
    </div>
  </div>
{% endblock %}