{% extends "layout.html" %}

{% block pageTitle %}
  Complete notices and declarations for Shared Parental Leave and Pay
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "shared-entitlement-and-intention"
  }) }}
{% endblock %}

{% macro leaveBlockInput(options) %}
  {% set linkHref = 'remove-block/' + options.blockNumber%}
    {{ govukDateInput({
      fieldset: {
        legend: {
          text: "Start date"
        }
      },
      id: 'notice-leave-blocks-new-start',
      name: '[new-notice-leave-blocks][start]',
      hint: {
        text: "These are intended dates only, they don't need to be final"
      },
      items: [
        {
          name: "[new-notice-leave-blocks][start][day]",
          label: 'Day',
          value: "",
          classes: "govuk-input--width-2"
        },
        {
          name: "[new-notice-leave-blocks][start][month]",
          label: "Month",
          value: "",
          classes: "govuk-input--width-2"
        },
        {
          name: "[new-notice-leave-blocks][start][year]",
          label: "Year",
          value: "",
          classes: "govuk-input--width-4"
        }
      ]
    }) }}

    {{ govukDateInput({
      fieldset: {
        legend: {
          text: "End date"
        }
      },
      id: 'notice-leave-blocks-new-end',
      name: '[new-notice-leave-blocks][end]',
      hint: {
        text: "These are intended dates only, they don't need to be final"
      },

      items: [
        {
          name: "[new-notice-leave-blocks][end][day]",
          label: 'Day',
          value: "",
          classes: "govuk-input--width-2"
        },
        {
          name: "[new-notice-leave-blocks][end][month]",
          label: "Month",
          value: "",
          classes: "govuk-input--width-2"
        },
        {
          name: "[new-notice-leave-blocks][end][year]",
          label: "Year",
          value: "",
          classes: "govuk-input--width-4"
        }
      ]
    }) }}
{% endmacro %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h1 class="govuk-heading-xl">
        What are the {{ data['primary-name'] }}'s intended shared parental leave dates?
      </h1>
      <form method="POST" action="spl-dates">
        <div class="salary-group">
          {{ leaveBlockInput({
            start: leaveBlock['start'],
            end: leaveBlock['end']
          }) }}

          {{ govukButton({
            classes: 'hmcts-button--secondary',
            text: 'Save this block and add another',
            attributes: {
              formaction: "spl-dates/add-another"
            }
          }) }}
          <br>

          {% if data['notice-leave-blocks'] | length %}
            <div class="govuk-body govuk-!-margin-bottom-8">
              {{ govukTable({
                caption: "Leave blocks",
                captionClasses: "govuk-fieldset__legend--m",
                head: [
                  {
                    text: "Start date"
                  },
                  {
                    text: "End date"
                  },
                  {
                    text: "",
                    classes: 'govuk-!-width-one-quarter'
                  }
                ],
                rows: data['notice-leave-blocks'] | getNoticeLeaveBlocksTableRows
              }) }}
            </div>
          {% endif %}

          <button type="submit" class="govuk-button">
            Save this block and continue
          </button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}