{% extends "layout.html" %}

{% block pageTitle %}
  Complete notices and declarations for Shared Parental Leave and Pay
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "spl-dates"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h1 class="govuk-heading-xl">
        {{ data | currentParentName | capitalize }}'s notices
      </h1>
      <p>
        You can now download the following notices and declarations to sign and give to your employer 8 weeks before your first block of shared parental leave or pay starts.
        These notices will be downloaded as a single document.
      </p>

      <ul class="govuk-list govuk-list--bullet">
      {% if data['current-parent'] == 'primary' %}
        <li>{{ data['primary-name'] | capitalize }}’s Notice of Entitlement and Intention</li>
        <li>{{ data['primary-name'] | capitalize }}’s Declarations to her employer</li>
        <li>{{ data['secondary-name'] | capitalize }}’s Declarations to the {{ data['primary-name'] }}’s employer</li>
        <li>{{ data['primary-name'] | capitalize }}’s Maternity Leave and Pay Curtailment Notice</li>
        <li>{{ data['primary-name'] | capitalize }}’s Binding Period of Leave Notice (only if your dates are final)</li>
      {% elif data['current-parent'] == 'secondary' %}
        <li>{{ data['secondary-name'] | capitalize }}'s Notice of Entitlement and Intention</li>
        <li>{{ data['secondary-name'] | capitalize }}'s Declarations to their employer</li>
        <li>{{ data['primary-name'] | capitalize }}'s Declarations to the {{ data['secondary-name'] }}'s employer</li>
        <li>{{ data['secondary-name'] | capitalize }}’s Binding Period of Leave Notice (only if your dates are final)</li>
      {% endif %}
      </ul>

      {% set link = "Partner_SPL_Notices_and_Declarations_for_testing" if data['current-parent'] == 'secondary' else "Mother_SPL_Notices_and_Declarations_for_testing" %}
      <a href="/spl-forms/{{link}}.pdf" target="_blank" class="govuk-button">Download notices</a>

      <h2 class="govuk-heading-l">What to do next</h2>

      {% if data['current-parent'] == 'primary'%}
        <p>
          If your partner is also taking shared parental leave and pay, you can <a href="/notice/reset" class="govuk-link">start again</a> to generate their notices.
          You will not need to re-enter their personal information.
        </p>
      {% elif data['current-parent'] == 'secondary' %}
        <p>
          If your shared parental leave starts before the mother goes back to work, the mother must give her employer notice to <a href="#" class="govuk-link">curtail her maternity entitlement</a>.
        </p>
        <p>
          If the mother is also taking shared parental leave and pay, you can <a href="/notice/reset" class="govuk-link">start again</a>  to generate her notices.
          You will not need to re-enter her personal information.
        </p>
      {% endif %}
    </div>
  </div>
{% endblock %}