{% extends "layout.html" %}

{% block pageTitle %}
  Complete notices and declarations for Shared Parental Leave and Pay
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "relation-to-child"
  }) }}
{% endblock %}

{% block content %}
  {% set hintHtml %}
    If you're unsure you can
    <a href="/shared-parental-leave-and-pay/index" class="govuk-link">
      plan how to take shared parental leave and pay
    </a>
  {% endset %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form action="which-entitlement" method="POST">
        {{ govukRadios({
          idPrefix: "entitlement",
          name: "entitlement",
          fieldset: {
            legend: {
              text: "Which entitlement is the " + (data | currentParentName) + " intending to take?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          hint: {
            html: hintHtml
          },
          items: [
            {
              value: "leave",
              text: "Shared parental leave",
              checked: data | currentParentTakingSpl and not data | currentParentTakingShpp
            },
            {
              value: "pay",
              text: "Shared parental pay",
              checked: data | currentParentTakingShpp and not data | currentParentTakingSpl
            },
            {
              value: "both",
              text: "Both",
              checked: data | currentParentTakingShpp and data | currentParentTakingSpl
            }
          ]
        }) }}
        <button type="submit" class="govuk-button">
          Continue
        </button>
    </div>
  </div>

{% endblock %}