{% from "radios/macro.njk" import govukRadios %}
{% from "summary-list/macro.njk" import govukSummaryList %}

{% extends "layout.html" %}

{% block pageTitle %}
  Parental leave and pay planner
{% endblock %}

{% set dueDate = data["due-date-year"] + "-" + data["due-date-month"] + "-" + data["due-date-day"]  %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Parental leave and pay planner
      </h1>
      <p>
        Use this tool to plan how you take leave in the first year after giving birth or adopting a child.
      </p>
      {{ govukRadios({
        classes: "govuk-radios--inline",
        idPrefix: "leave-type",
        name: "leave-type",
        fieldset: {
          legend: {
            text: "Type of leave",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--s"
          }
        },
        items: [
          {
            value: "not-shared",
            text: "Maternity / Paternity leave",
            checked: true
          },
          {
            value: "shared",
            text: "Shared parental leave"
          }
        ]
      }) }}
    </div>
  </div>
  <div class="govuk-grid-row">
    <div id="leave-calendar-container" class="govuk-grid-column-two-thirds">
      <table id="leave-calendar" class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col"></th>
            <th class="govuk-table__header" scope="col">Mother</th>
            <th class="govuk-table__header" scope="col">Partner</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          {% for i in range(-11, 51) %}
            {% if (i === 0) %}
              <tr class="birth-week">
                <td></td>
                <td colspan="2">
                  Birth week
                </td>
              </tr>
            {% endif %}
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                {{ dueDate | birthWeek(i) }}
              </td>
              <td class="govuk-table__cell mother"></td>
              <td class="govuk-table__cell partner"></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="govuk-grid-column-one-third">
      <h2 class="govuk-heading-m">
        Leave weeks
      </h2>
      <p>Any unused maternity leave can be taken as shared parental leave.</p>
      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Maternity"
            },
            value: {
              html: '<span id="maternity-weeks"></span> weeks'
            }
          },
          {
            key: {
              text: "Shared"
            },
            value: {
              html: '<span id="shared-weeks"></span> weeks'
            }
          },
          {
            key: {
              classes: "remaining-total",
              text: "Remaining"
            },
            value: {
              classes: "remaining-total",
              html: '<span id="remaining-weeks"></span> weeks'
            }
          }
        ]
      }) }}
      <p>Parental leave is a separate entitlement.</p>
      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Paternity"
            },
            value: {
              html: '<span id="paternity-weeks"></span> weeks'
            }
          }
        ]
      }) }}
  </div>

{% endblock %}
