{% extends "layout.html" %}

{% block pageTitle %}
  Plan leave and pay when you have a child
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Plan leave and pay when you have a child
      </h1>
      <p>
        Shared parental leave is available for parents who are employed and plan to care for their child with their partner.
      </p>
      <p>
        Shared parental pay is available for up to 37 weeks and is paid at £148.68
        (or 90% of your average weekly salary if you earn less than £165.20 per week).
        This is the same as the last 33 weeks of maternity pay.
      </p>
      <p>
        Use this tool to plan how to take time off work when you have a child.
      </p>
      <form action="/shared-parental-leave-planner/due-date" method="POST">
        <input type="hidden" name="due-date-day" value="{{ dueDateDay }}">
        <input type="hidden" name="due-date-month" value="{{ dueDateMonth }}">
        <input type="hidden" name="due-date-year" value="{{ dueDateYear }}">
        <button type="submit" class="govuk-button govuk-button--start">
          Start now
        </button>
      </form>
    </div>
  </div>

{% endblock %}
