{% from "back-link/macro.njk" import govukBackLink %}
{% from "summary-list/macro.njk" import govukSummaryList %}

{% from "components/leave-block-summary.njk" import leaveBlockSummary %}

{% set motherHasSpl = data["mothers-spl-blocks"] and data["mothers-spl-blocks"].length > 0 %}
{% set partnerHasSpl = data["partners-spl-blocks"] and data["partners-spl-blocks"].length > 0 %}
{% set partnerHasPaternityLeave = data["paternity-leave"] %}
{% set multipleSplPerNoticeHtml %}
  <p>* You can use one notice for multiple blocks of shared parental leave.</p>
{% endset %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p>
        This is a summary of your leave plan. It shows your leave dates, when you need to notify your employer and how you can apply.
      </p>
      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Baby is due"
            },
            value: {
              text: data["due-date"] | formatDate("DD MMMM YYYY")
            }
          }
        ]
      }) }}
      <h2 class="govuk-heading-l">
        Mother's leave dates
      </h2>
      <h3 class="govuk-heading-m">
        Maternity leave
      </h3>
      {{ leaveBlockSummary({
        name: "Maternity leave",
        block: data["maternity-leave"],
        notify: {
          date: data["due-date"] | offsetWeeks(-15),
          explanation: "15 weeks before due date"
        }
      }) }}
      <h4 class="govuk-heading-s">
        How to apply
      </h4>
      <p>
        Tell your employer when the baby is due and when you want to start your maternity leave.
        Your employer can ask for this in writing.
        Your employer must write to you within 28 days confirming your start and end dates.
      </p>
      <h4 class="govuk-heading-s">
        Changing your plans
      </h4>
      <p>
        You must give 28 days notice to your employer if you want to change your maternity leave dates.
      </p>
      {% if motherHasSpl %}
        <h3 class="govuk-heading-m">
          Mother's shared parental leave
        </h3>
        {% for block in data["mothers-spl-blocks"] %}
          {{ leaveBlockSummary({
            name: "Block " + loop.index,
            block: block,
            notify: {
              date: block.start | offsetWeeks(-8),
              explanation: "8 weeks before block starts",
              asterisk: loop.length > 1
            }
          }) }}
        {% endfor %}
        {{ (multipleSplPerNoticeHtml | safe) if data["mothers-spl-blocks"].length > 1 }}
        <h4 class="govuk-heading-s">
          How to apply
        </h4>
        <p>
          The mother must notify her employer that she wants to reduce her maternity leave to create shared parental leave.
          She can complete the <a href="/spl-forms/SPL_Form_1.pdf" target="_blank">Maternity leave curtailment form</a>.
        </p>
        <p>
          The mother must notify her employer of her intention to take shared parental leave.
          She can complete the <a href="/spl-forms/SPL_Form_2.pdf" target="_blank">Mother’s shared parental leave notice form</a>.
        </p>
        <h4 class="govuk-heading-s">
          Changing your plans
        </h4>
        <p>
          You can change your shared parental leave plan later but you must give your employer at least
          8 weeks’ notice before you want to begin a block of leave.
        </p>
      {% endif %}
      <h2 class="govuk-heading-l">
        Partner's leave dates
      </h2>
      {% if (not partnerHasPaternityLeave) and (not partnerHasSpl) %}
        <p>
          The mother's partner is not planning to take any paternity leave or shared parental leave.
        </p>
      {% endif %}
      {% if partnerHasPaternityLeave %}
        <h3 class="govuk-heading-m">
          Paternity leave
        </h3>
        {{ leaveBlockSummary({
          name: "Paternity leave",
          block: data["paternity-leave"],
          notify: {
            date: data["due-date"] | offsetWeeks(-15),
            explanation: "15 weeks before due date"
          }
        }) }}
        <h4 class="govuk-heading-s">
          How to apply
        </h4>
        <p>
          Use <a href="https://public-online.hmrc.gov.uk/lc/content/xfaforms/profiles/forms.html?contentRoot=repository:///Applications/PersonalTax_iForms/1.0/SC3&template=SC3.xdp" target="_blank">form SC3</a> to apply to your employer for Statutory Paternity Pay (SPP) and Leave.
        </p>
        <h4 class="govuk-heading-s">
          Changing your plans
        </h4>
        <p>
          You must give 28 days notice to your employer if you want to change your paternity leave dates.
        </p>
      {% endif %}
      {% if partnerHasSpl %}
        <h3 class="govuk-heading-m">
          Partner's shared parental leave
        </h3>
        {% for block in data["partners-spl-blocks"] %}
          {{ leaveBlockSummary({
            name: "Block " + loop.index,
            block: block,
            notify: {
              date: block.start | offsetWeeks(-8),
              explanation: "8 weeks before block starts",
              asterisk: loop.length > 1
            }
          }) }}
        {% endfor %}
        {{ (multipleSplPerNoticeHtml | safe) if data["partners-spl-blocks"].length > 1 }}
        <h4 class="govuk-heading-s">
          How to apply
        </h4>
        <p>
          The mother must notify her employer that she wants to reduce her maternity leave to create shared parental leave.
          She can complete the <a href="/spl-forms/SPL_Form_1.pdf" target="_blank">Maternity leave curtailment form</a>.
        </p>
        {% if (not motherHasSpl) %}
          <p>
            The mother must notify her employer that she does not intend to take shared parental leave but her partner does.
            She can complete the <a href="/spl-forms/SPL_Form_3.pdf" target="_blank">Mother’s consent to partner taking SPL form</a>.
          </p>
        {% endif %}
        <p>
          The mother's partner must notify their employer of their intention to take shared parental leave.
          The partner can complete the <a href="/spl-forms/SPL_Form_4.pdf" target="_blank">Partner’s shared parental leave notice form</a>.
        </p>
        <h4 class="govuk-heading-s">
          Changing your plans
        </h4>
        <p>
          You can change your shared parental leave plan later but you must give your employer at least
          8 weeks’ notice before you want to begin a block of leave.
        </p>
      {% endif %}
      <button class="govuk-button" onclick="alert('Printing is coming soon.')">Print this plan</button>
      <button class="govuk-button" onclick="alert('Share links will be available soon.')">Share this page</button>
    </div>
  </div>

{% endblock %}
