{% from "back-link/macro.njk" import govukBackLink %}
{% from "summary-list/macro.njk" import govukSummaryList %}
{% from "inset-text/macro.njk" import govukInsetText %}


{% from "components/leave-block-summary.njk" import leaveBlockSummary %}

{% set motherHasSpl = data["mothers-spl-blocks"] and data["mothers-spl-blocks"].length > 0 %}
{% set partnerHasSpl = data["partners-spl-blocks"] and data["partners-spl-blocks"].length > 0 %}
{% set partnerHasPaternityLeave = data["paternity-leave"] %}
{% set multipleSplPerNoticeHtml %}
<div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive">Warning</span>
    Employers can refuse discontinuous leave
  </strong>
</div>
  <p>You can notify your employer of multple blocks of shared parental leave at the same time but your employer can refuse your plan and ask you to take shared parental leave as one continuous block. 
  </p>
  <p>You can take up to 3 blocks of shared parental leave by giving one notice for each block of leave. Any additional blocks will have to be included in one of the 3 notices and will need to be approved by your employer.
  </p> 
{% endset %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p>
        This is a summary of your leave plan. It shows your leave dates, when you need to notify your employer and how you can apply.
      </p>
      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Baby is due" if data | isBirth else "Placement date"
            },
            value: {
              text: data["due-date"] | formatDate("DD MMMM YYYY")
            }
          }
        ]
      }) }}
      <h2 class="govuk-heading-l">
        {{ data['primary-name'] | capitalize }}'s leave dates
      </h2>
      <h3 class="govuk-heading-m">
        {{ data['primary-leave-type'] | capitalize }} leave
      </h3>
      {% set primaryLeaveBlockName = data['primary-leave-type'] | capitalize + ' leave' %}
      {{ leaveBlockSummary({
        name: primaryLeaveBlockName,
        block: data["maternity-leave"],
        notify: {
          date: data["due-date"] | offsetWeeks(-15),
          explanation: "15 weeks before due date"
        }
      }) }}
      <h4 class="govuk-heading-s">
        How to give notice
      </h4>
      <p>
        Tell your employer when the {{ "baby is due" if data | isBirth else "child will be placed with you" }} and when you want to start your {{ data['primary-leave-type'] }} leave.
        Your employer can ask for this in writing.
        Your employer must write to you within 28 days confirming your start and end dates.
      </p>
      <h4 class="govuk-heading-s">
        Changing your plans
      </h4>
      <p>
        You must give 28 days notice to your employer if you want to change your {{ data['primary-leave-type'] }}  leave dates.
      </p>
      {% if motherHasSpl %}
        <h3 class="govuk-heading-m">
          {{ data['primary-name'] | capitalize }}'s shared parental leave
        </h3>
        {% for block in data["mothers-spl-blocks"] %}
          {{ leaveBlockSummary({
            name: "Block " + loop.index,
            block: block,
            notify: {
              date: block.start | offsetWeeks(-8),
              explanation: "8 weeks before block starts",
              asterisk: loop.length > 1
            }
          }) }}
        {% endfor %}
        {{ (multipleSplPerNoticeHtml | safe) if data["mothers-spl-blocks"].length > 1 }}
        <h4 class="govuk-heading-s">
          How to give notice
        </h4>
        {% set primaryNoticeFormLink %}
          {% if data | isBirth%}
            <a href="/spl-forms/spl-mother-notice-forms.pdf" target="_blank">Mother’s SPL and ShPP notice form</a>
          {% else %}
            <a href="/spl-forms/Adopters_notice_form.pdf" target="_blank">Primary adopter’s SPL and ShPP notice form</a>
          {% endif %}
        {% endset %}
        <p>
          To take shared parental leave you can complete the {{ primaryNoticeFormLink | safe }} and submit it to the {{ data['primary-name']}}’s employer at least 8 weeks before you want to start your leave.      
        </p>
        <h4 class="govuk-heading-s">
          Changing your plans
        </h4>
        <p>
          When you give notice for shared parental leave you have 2 weeks to agree your plan with your employer.
        </p>
        <p>
          If you want to change your plan after you've agreed it, you'll have to use one of your 3 shared parental leave notices to inform your employer 8 weeks before you want to start your leave. 
        </p>
      {% endif %}
      <h2 class="govuk-heading-l">
        Partner's leave dates
      </h2>
      {% if (not partnerHasPaternityLeave) and (not partnerHasSpl) %}
        <p>
          The {{ data['secondary-name'] }} is not planning to take any paternity leave or shared parental leave.
        </p>
      {% endif %}
      {% if partnerHasPaternityLeave %}
        <h3 class="govuk-heading-m">
          Paternity leave
        </h3>
        {{ leaveBlockSummary({
          name: "Paternity leave",
          block: data["paternity-leave"],
          notify: {
            date: data["due-date"] | offsetWeeks(-15),
            explanation: "15 weeks before due date"
          }
        }) }}
        <h4 class="govuk-heading-s">
          How to give notice
        </h4>
        <p>
          Use <a href="https://public-online.hmrc.gov.uk/lc/content/xfaforms/profiles/forms.html?contentRoot=repository:///Applications/PersonalTax_iForms/1.0/SC3&template=SC3.xdp" target="_blank">form SC3</a> to apply to your employer for Statutory Paternity Pay (SPP) and Leave.
        </p>
        <h4 class="govuk-heading-s">
          Changing your plans
        </h4>
        <p>
          You must give 28 days notice to your employer if you want to change your paternity leave dates.
        </p>
      {% endif %}
      {% if partnerHasSpl %}
        <h3 class="govuk-heading-m">
          Partner's shared parental leave
        </h3>
        {% for block in data["partners-spl-blocks"] %}
          {{ leaveBlockSummary({
            name: "Block " + loop.index,
            block: block,
            notify: {
              date: block.start | offsetWeeks(-8),
              explanation: "8 weeks before block starts",
              asterisk: loop.length > 1
            }
          }) }}
        {% endfor %}
        {{ (multipleSplPerNoticeHtml | safe) if data["partners-spl-blocks"].length > 1 }}
        <h4 class="govuk-heading-s">
          How to give notice
        </h4>
        {% set secondaryNoticeFormLink %}
          {% if data | isBirth %}
            <a href="/spl-forms/spl-partner-notice-forms.pdf" target="_blank">Father or Partner’s SPL and ShPP notice form</a>
          {% else %}
            <a href="/spl-forms/Adopter_s_partner_s_notice_form.pdf" target="_blank">Partner’s SPL and ShPP notice form</a>
          {% endif %}
        {% endset %}
        <p>
          To take shared parental leave you can complete the {{ secondaryNoticeFormLink | safe }} and submit it to the {{ data['secondary-name']}}’s employer at least 8 weeks before you want to start your leave.        
        </p>
        <h4 class="govuk-heading-s">
          Changing your plans
        </h4>
        <p>
          When you give notice for shared parental leave you have 2 weeks to agree your plan with your employer.
        </p>
        <p>
          If you want to change your plan after you've agreed it, you'll have to use one of your 3 shared parental leave notices to inform your employer 8 weeks before you want to start your leave. 
        </p>  

      {% endif %}
      <button class="govuk-button" onclick="alert('Printing is coming soon.')">Print this plan</button>
      <button class="govuk-button" onclick="alert('Share links will be available soon.')">Share this page</button>
    </div>
  </div>

{% endblock %}
