{% from "back-link/macro.njk" import govukBackLink %}

{% extends "layout.html" %}

{% block pageTitle %}
  Plan leave and pay when you have a child
{% endblock %}

{% macro salaryInput(options) %}
  {% set salaryAmountId = options.idPrefix + "-salary-amount" %}
  {% set salaryPeriodId = options.idPrefix + "-salary-period" %}
  {{ govukInput({
    label: {
      text: options.labelText
    },
    classes: "govuk-input--width-20 app-salary-input",
    id: salaryAmountId,
    name: salaryAmountId,
    value: data[salaryAmountId]
  }) }}
  {{ govukSelect({
    id: salaryPeriodId,
    name: salaryPeriodId,
    label: {
      text: "Per"
    },
    items: [
      {
        value: "year",
        text: "Year",
        selected: data[salaryPeriodId] === "year"
      },
      {
        value: "month",
        text: "Month",
        selected: data[salaryPeriodId] === "month"
      },
      {
        value: "week",
        text: "Week",
        selected: data[salaryPeriodId] === "week"
      }
    ]
  }) }}
{% endmacro %}

{% block content %}

  {% set primarySalaryLabel %}
    {{ data['primary-name'] | capitalize }}'s salary (£)
  {% endset %}

  {% set secondarySalaryLabel %}
    Partner's salary (£)
  {% endset %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukBackLink({
        text: "Back",
        href: "due-date"
      }) }}
      <h1 class="govuk-heading-xl">
        What is your salary before tax?
      </h1>
      <p>
        Enter your salary to see how much you’ll be paid while on leave. If you choose to skip this step, you’ll only see statutory pay amounts.
      </p>
      <form action="parent-salaries" method="POST">
        {% call govukFieldset({
          legend: {
            text: "Salary before tax",
            classes: "govuk-fieldset__legend--m"
          }
        }) %}
          <div class="salary-group">
            {{ salaryInput({
              idPrefix: "primary",
              labelText: primarySalaryLabel
            }) }}
          </div>
          <div class="salary-group">
            {{ salaryInput({
              idPrefix: "secondary",
              labelText: secondarySalaryLabel
            }) }}
          </div>
        {% endcall %}
        <button type="submit" class="govuk-button">
          Next
        </button>
      </form>
      <a href="planner-{{data['birth-or-adoption']}}" class="govuk-link--no-visited-state govuk-body">
        Skip this step
      </a>
    </div>
  </div>

{% endblock %}
