{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p>This is a summary of what you'll be paid per week while on leave.</p>

      {% set totalRowHeading %}
        <strong>Total pay (before tax) </strong>
      {% endset %}

      {% for payBlock in data['payBlocks'] %}
        {% set tableCaption %}
          {{ payBlock['start'] | formatDate('D MMMM YYYY')}} to {{ payBlock['end'] | endOfWeek | formatDate('D MMMM YYYY')}}
        {% endset %}

        {% set motherPay %}
          {{ payBlock['mother'] }} per week
        {% endset %}

        {% set partnerPay %}
          {{ payBlock['partner'] }} per week
        {% endset %}

        {% set totalPay %}
          <strong>{{ payBlock | getTotalWeeklyPay }} per week</strong>
        {% endset %}

        {% set displayTotal = (data['mother-salary-amount'] | length > 0) and (data['partner-salary-amount'] | length > 0) %}

        {{ govukTable({
          classes: "app-table--fixed",
          caption: tableCaption,
          head: [
            { text: "Parent" },
            { text: "What you'll be paid",
              classes: "govuk-!-width-two-thirds-from-desktop"
            }
          ],
          rows: [
            [
              { text: "Mother" },
              { text: motherPay }
            ],
            [
              { text: "Partner" },
              { text: partnerPay }
            ],
            [
              { html: totalRowHeading },
              { html: totalPay }
            ] if displayTotal
          ]
        }) }}
      {% endfor %}

      <button class="govuk-button" onclick="alert('Printing is coming soon.')">Print this plan</button>
      <button class="govuk-button" onclick="alert('Share links will be available soon.')">Share this page</button>

    </div>
  </div>
{% endblock %}
