{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <p>This is a summary of what you'll be paid per week while on leave.</p>

      {% set totalRowHeading %}
        <strong>Total pay (before tax) </strong>
      {% endset %}

      {% for payBlock in data['payBlocks'] %}
        {% set tableCaption %}
          {{ payBlock['start'] | formatDate('D MMMM YYYY')}} to {{ payBlock['end'] | endOfWeek | formatDate('D MMMM YYYY')}}
        {% endset %}

        {% set motherPay %}
          {{ payBlock['mother'] }} per week
        {% endset %}

        {% set partnerPay %}
          {{ payBlock['partner'] }} per week
        {% endset %}

        {% set totalPay %}
          <strong>{{ payBlock | getTotalWeeklyPay }} per week</strong>
        {% endset %}

        {% set displayTotal = (data['mother-salary-amount'] | length > 0) and (data['partner-salary-amount'] | length > 0) %}

        {{ govukTable({
          classes: "app-table--fixed",
          caption: tableCaption,
          head: [
            { text: "Parent"
             },
            { text: "What you'll be paid",
              classes: "govuk-!-width-two-thirds"
            }
          ],
          rows: [
            [
              { text: data['primary-name'] | capitalize },
              { text: motherPay }
            ],
            [
              { text: "Partner" },
              { text: partnerPay }
            ],
            [
              { html: totalRowHeading },
              { html: totalPay }
            ] if displayTotal
          ]
        }) }}
      {% endfor %}

      <h3 class="govuk-heading-m">
        How to apply
      </h3>
      <h4 class="govuk-heading-s">
        Statutory maternity pay (SMP)
      </h4>
      <p>
        To apply for <a href="https://www.gov.uk/maternity-pay-leave">statutory maternity pay</a> tell your employer you want to stop work to have a baby and the day you want your SMP to start.
        You must give them at least 28 days’ notice (in writing if they ask for it) and proof that you’re pregnant.
      </p>
      <p>
        Your employer must confirm within 28 days how much SMP you’ll get and when it will start and stop.
      </p>
      <p>
        If they decide you’re not eligible, they must give you form SMP1 within 7 days of making their decision and explain why.
      </p>

      <h4>
        Statutory shared parental pay (ShPP)
      </h4>
      <p>
        To apply for shared parental pay, the mother can fill out the <a href="/spl-forms/Mother_s_notice_form.pdf" target="_blank">Mother’s SPL and ShPP notice form</a> and the mother’s partner can fill out the <a href="/spl-forms/Father_s___Partner_s_notice_form.pdf" target="_blank">Father / Partner’s SPL and ShPP notice form</a>.
      </p>
      <p>
        You must give your employer 8 weeks written notice of the dates you want to receive shared parental pay.
      </p>
      <p>
        If you're taking shared parental leave you can apply for leave and pay together.
      </p>

      <button class="govuk-button" onclick="alert('Printing is coming soon.')">Print this plan</button>
      <button class="govuk-button" onclick="alert('Share links will be available soon.')">Share this page</button>

    </div>
  </div>
{% endblock %}
