{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Pay summary
      </h1>
      {% set totalRowHeading %}
        <strong>Total pay (before tax) </strong>
      {% endset %}

      {% for payBlock in data['payBlocks'] %}
        {% set tableCaption %}
          {{ payBlock['start'] | formatDate('D MMMM YYYY')}} to {{ payBlock['end'] | endOfWeek | formatDate('D MMMM YYYY')}}
        {% endset %}

        {% set motherPay %}
          {{ payBlock['mother'] }} per week
        {% endset %}

        {% set partnerPay %}
          {{ payBlock['partner'] }} per week
        {% endset %}

        {% set totalPay %}
          <strong>{{ payBlock | getTotalWeeklyPay }} per week</strong>
        {% endset %}

        {% set displayTotal = (data['mother-salary-amount'] | length > 0) and (data['partner-salary-amount'] | length > 0) %}

        {{ govukTable({
          classes: "app-table--fixed",
          caption: tableCaption,
          head: [
            { text: "Parent" },
            { text: "What you'll be paid" }
          ],
          rows: [
            [
              { text: "Mother" },
              { text: motherPay }
            ],
            [
              { text: "Partner" },
              { text: partnerPay }
            ],
            [
              { html: totalRowHeading },
              { html: totalPay }
            ] if displayTotal
          ]
        }) }}
      {% endfor %}
    </div>
  </div>
{% endblock %}
