{% from "back-link/macro.njk" import govukBackLink %}
{% from "checkboxes/macro.njk" import govukCheckboxes %}
{% from "input/macro.njk" import govukInput %}
{% from "radios/macro.njk" import govukRadios %}
{% from "summary-list/macro.njk" import govukSummaryList %}

{% extends "layout.html" %}

{% block pageTitle %}
  Plan leave and pay when you have a child
{% endblock %}

{% set dueDate %}
  {%- if data["due-date"] %}
    {{- data["due-date"] -}}
  {% else %}
    {{- data["due-date-year"] }}-{{ data["due-date-month"] | twoDigit }}-{{ data["due-date-day"] | twoDigit -}}
  {% endif -%}
{% endset %}

{% set example1 %}
  <h3 class="govuk-heading-s">
    Background
  </h3>
  <p>
    Stella needs to go back to work for an important project in the middle of her maternity leave.
    She decides to convert her unused maternity leave into shared parental leave so that her partner,
    Michael, can take 3 months shared parental leave and shared parental pay while she attends to her project.
    She will use the remaining shared parental leave to resume her time at home with their child after her project is over.
  </p>
  <p>
    They also plan to overlap Michael’s first month of shared parental leave with Stella’s last month of maternity leave so they can travel as a family.
  </p>
  <h3 class="govuk-heading-s">
    Leave pattern
  </h3>
  <ul class="govuk-body">
    <li>
      <strong>Stella's leave:</strong> 8 months maternity leave, 1 month shared parental leave after Michael’s leave
    </li>
    <li>
      <strong>Michael's leave:</strong> 2 weeks paternity leave and 3 months shared parental leave
    </li>
  </ul>
  <button class="govuk-button">
    See the plan
  </button>
{% endset %}
{% set example2 %}
  <h3 class="govuk-heading-s">
    Background
  </h3>
  <p>
    Imran and Aisha are having their first child. Imran plans to take two weeks paternity leave
    but he wants to spend more time at home with the child, supporting Aisha in those initial weeks.
    Aisha originally planned to take a full year of maternity leave but decides to reduce it by 4 weeks,
    so that Imran can take shared parental leave.
  </p>
  <p>
    Imran can now stay at home with Aisha and the baby for a total of 6 weeks as soon as the baby is born
    (2 weeks paternity leave and 4 weeks shared parental leave).
  </p>
  <h3 class="govuk-heading-s">
    Leave pattern
  </h3>
  <ul class="govuk-body">
    <li>
      <strong>Aisha's leave:</strong> 48 weeks maternity leave
    </li>
    <li>
      <strong>Imran's leave:</strong> 2 weeks paternity leave and 4 weeks shared parental leave
    </li>
  </ul>
  <button class="govuk-button">
    See the plan
  </button>
{% endset %}
{% set example3 %}
  <h3 class="govuk-heading-s">
    Background
  </h3>
  <p>
    Katie and Rosa want to have equal opportunities to develop a bond with their child and be its primary carer.
    Katie reduces her maternity leave after 3 months to create 9 months of shared parental leave.
  </p>
  <p>
    They spend the first 3 months at home together, leaving around 6 months of shared parental leave for either or both of them to take.
    They alternate being at home with the child every 6 weeks for the remaining 6 months of shared parental leave.
  </p>
  <h3 class="govuk-heading-s">
    Leave pattern
  </h3>
  <ul class="govuk-body">
    <li>
      <strong>Katie's leave:</strong> 3 months maternity leave, then alternating 6 week blocks of shared parental leave
    </li>
    <li>
      <strong>Rosa's leave:</strong> An initial block of paternity and shared parental leave alongside Katie's maternity leave,
      then alternating 6 week blocks of shared parental leave
    </li>
  </ul>
  <button class="govuk-button">
    See the plan
  </button>
{% endset %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukBackLink({
        text: "Back",
        href: "due-date"
      }) }}
      <h1 class="govuk-heading-xl">
        Plan leave and pay when you have a child
      </h1>
      <p>
        Use the calendar below to select the weeks you and your partner would like to take off work when you're having a child.
      </p>
      <p>
        The planner will work out the most suitable type of leave based on who's taking time off, when, and for how long.
        <span class="js-only">
          The leave weeks table tells you how much leave you have left at any given point.
        </span>
      </p>
      <h2 class="govuk-heading-m">
        Examples
      </h2>
      {{ govukAccordion({
        items: [
          {
            heading: {
              text: "Managing parenting and your career"
            },
            content: {
              html: example1
            }
          },
          {
            heading: {
              text: "Supporting the mother after birth"
            },
            content: {
              html: example2
            }
          },
          {
            heading: {
              text: "Sharing primary care responsibility"
            },
            content: {
              html: example3
            }
          }
        ]
      }) }}
      <h2 class="govuk-heading-m">
        Calendar
      </h2>
      {{ govukCheckboxes({
        classes: "js-only",
        hint: {
          text: "Tick below to see an indication of statutory pay alongside leave."
        },
        items: [
          {
            id: "show-statutory-pay",
            text: "Show indicative statutory pay"
          }
        ]
      }) }}
    </div>
  </div>
  <form action="key-dates" method="POST">
    <input name="due-date" type="hidden" value="{{ dueDate }}">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-6">
        <table id="leave-calendar" class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="col"></th>
              <th class="govuk-table__header" scope="col">Mother</th>
              <th class="govuk-table__header" scope="col">Partner</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            {% for i in range(-11, 52) %}
              {% set date = (dueDate | startOfWeek | offsetWeeks(i) | formatDate("YYYY-MM-DD")) %}
              {% if (i === -11) or ((date | formatDate("DD") | int) <= 7) %}
                <tr class="month govuk-table__row govuk-!-font-weight-bold">
                  <td class="govuk-table__cell" colspan="3">
                    {{ date | formatDate("MMMM YYYY") }}
                  </td>
                </tr>
              {% endif %}
              {% if (i === 0) %}
                <tr class="birth-week govuk-!-font-weight-bold govuk-!-font-size-16">
                  <td></td>
                  <td colspan="2">
                    Birth week
                  </td>
                </tr>
              {% endif %}
              {% set beforeBirthWeek = i < 0 %}
              {% set firstTwoBirthWeeks = (i >= 0) and (i < 2) %}
              {% set firstEightBirthWeeks = (i >= 0) and (i < 8) %}
              <tr data-week="{{i}}"
                class="govuk-table__row week {% if beforeBirthWeek %}before-birth-week{% endif %} {% if firstTwoBirthWeeks %}mother-leave{% endif %} {{ 'last-mother-leave' if i === 1 }} {% if firstEightBirthWeeks %}paternity-eligible-week{% endif %}">
                <td class="govuk-table__cell">
                  {{ date | formatDate("DD [<br>] MMM") | safe }}
                </td>
                {% set motherId = "mother-" + date %}
                <td class="govuk-table__cell mother {% if firstTwoBirthWeeks %}compulsory disabled{% endif %}">
                  <input type="checkbox" id="{{ motherId }}" name="{{ motherId }}" class="mother-leave-input"
                    {% if data[motherId] or firstTwoBirthWeeks %}checked{% endif %}>
                  <label {% if not firstTwoBirthWeeks %}for="{{ motherId }}"{% endif %}>
                    <div class="work-or-other-leave js-only">
                      Work or other leave
                    </div>
                    <div class="unassigned-leave leave">
                      Leave
                    </div>
                    <div class="maternity-leave leave">
                      {% if firstTwoBirthWeeks %}
                        Compulsory maternity leave
                      {% else %}
                        Maternity leave
                      {% endif %}
                    </div>
                    <div class="shared-parental-leave leave">
                      Shared parental leave
                    </div>
                    <div class="govuk-body-s initial-maternity-pay pay">
                      90% of average weekly pay
                    </div>
                    <div class="govuk-body-s statutory-pay pay">
                      Up to £148.68
                    </div>
                    <div class="govuk-body-s unpaid pay ">
                      Unpaid
                    </div>
                  </label>
                </td>
                {% set partnerId = "partner-" + date %}
                <td class="govuk-table__cell partner {% if beforeBirthWeek %}disabled{% endif %}">
                  {% if (not beforeBirthWeek) %}
                    <input type="checkbox" id="{{ partnerId }}" name="{{ partnerId }}" class="partner-leave-input"
                      {% if data[partnerId] %}checked{% endif %}>
                    <label for="{{ partnerId }}">
                      <div>
                        <div class="work-or-other-leave js-only">
                          Work or other leave
                        </div>
                        <div class="unassigned-leave leave">
                          Leave
                        </div>
                        <div class="paternity-leave leave">
                          Paternity leave
                        </div>
                        <div class="shared-parental-leave leave">
                          Shared parental leave
                        </div>
                        <div class="govuk-body-s statutory-pay pay">
                          Up to £148.68
                        </div>
                        <div class="govuk-body-s unpaid pay">
                          Unpaid
                        </div>
                      </div>
                    </label>
                  {% endif %}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="govuk-grid-column-one-third planner-sidebar js-only">
        <h2 class="govuk-heading-m">
          Leave weeks
        </h2>
        <p>Any unused maternity leave can be taken as shared parental leave.</p>
        {{ govukSummaryList({
          rows: [
            {
              key: {
                text: "Maternity"
              },
              value: {
                html: '<span id="maternity-weeks"></span>'
              }
            },
            {
              key: {
                text: "Mother's SPL"
              },
              value: {
                html: '<span id="mothers-spl-weeks"></span>'
              }
            },
            {
              key: {
                text: "Partners's SPL"
              },
              value: {
                html: '<span id="partners-spl-weeks"></span>'
              }
            },
            {
              key: {
                classes: "maternity-spl-remaining-total",
                text: "Remaining"
              },
              value: {
                classes: "maternity-spl-remaining-total",
                html: '<span id="maternity-spl-remaining-weeks"></span>'
              }
            }
          ]
        }) }}
        <div class="leave-messages">
          <p id="maternity-maximum" class="govuk-body-s warning">
            You have taken more than the maximum of 52 weeks maternity or shared parental leave.
          </p>
          <p id="no-more-shared" class="govuk-body-s info">
            You have no more shared parental leave, reduce your maternity leave to create more.
          </p>
          <p id="can-break-shared" class="govuk-body-s info">
            Remember, you can break up shared parental leave with periods of work.
          </p>
        </div>
        <p>Paternity leave is a separate entitlement.</p>
        {{ govukSummaryList({
          rows: [
            {
              key: {
                text: "Paternity"
              },
              value: {
                html: '<span id="paternity-weeks"></span>'
              }
            },
            {
              key: {
                text: "Remaining"
              },
              value: {
                html: '<span id="paternity-remaining-weeks"></span>'
              }
            }
          ]
        }) }}
      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <p>
          Press next for a summary of key dates.
        </p>
        <button type="submit" class="govuk-button">
          Next
        </button>
        <div class="js-only">
          {{ govukInput({
            label: {
              classes: "govuk-!-font-weight-bold",
              text: "Save / share link"
            },
            id: "save-share-link",
            classes: "govuk-!-font-size-14",
            hint: {
              text: "Copy this link for later to return to the calendar with this leave plan."
            },
            attributes: {
              readonly: "readonly"
            }
          }) }}
        </div>
      </div>
    </div>
  </form>
{% endblock %}
