{% extends "layout.html" %}

{% block pageTitle %}
  Check eligibility for shared parental leave and pay
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "index"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="birth-or-adoption" method="POST">
        {{ govukRadios({
          classes: "govuk-radios",
          idPrefix: "birth-or-adoption",
          name: "birth-or-adoption",
          fieldset: {
            legend: {
              text: "Are you having a child through birth or adoption?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          hint: {
            text: "Shared parental leave and pay is available for birth and adoptive parents."
          },
          items: [
            {
              value: "birth",
              text: "Birth"
            },
            {
              value: "adoption",
              text: "Adoption"
            }
          ]
        }) }}


        <button type="submit" class="govuk-button">
          Continue
        </button>
      </form>
    </div>
  </div>

{% endblock %}
