{% from "back-link/macro.njk" import govukBackLink %}
{% from "radios/macro.njk" import govukRadios %}


{% extends "layout.html" %}

{% block pageTitle %}
  Check eligibility for shared parental leave and pay
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "results"
  }) }}
{% endblock %}

{% block content %}

  {% set headingCaption %}
    {{ data | currentParentName | capitalize }}’s eligibility
  {% endset %}

  {% set heading %}
    What is the {{ data | currentParentName }}’s employment status
  {% endset %}

  {% set helpText %}
    Read about <a href="https://www.gov.uk/employment-status">employment statuses</a> if you aren’t sure which one applies.
  {% endset %}

  {% set questionText %}  {% endset %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">{{ headingCaption }}</span>
      <form action="employment" method="POST">

        {{ govukRadios({
          classes: "govuk-radios",
          idPrefix: "employment-status",
          name: "employment-status",
          fieldset: {
            legend: {
              text: heading,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          hint: {
            html: helpText
          },
          items: [
            {
              value: "employee",
              text: "Employee"
            },
            {
              value: "worker",
              text: "Worker"
            },
            {
              value: "self-employed",
              text: "Self-employed"
            },
            {
              value: "unemployed",
              text: "Unemployed"
            }
          ]
        }) }}

        <button type="submit" class="govuk-button govuk-button--start">
          Continue
        </button>
      </form>
    </div>
  </div>

{% endblock %}
