{% from "back-link/macro.njk" import govukBackLink %}
{% from "radios/macro.njk" import govukRadios %}
{% from "summary-list/macro.njk" import govukSummaryList %}

{% import "data-macros.njk" as dataMacros %}

{% extends "layout.html" %}

{% block pageTitle %}
  Plan leave and pay when you have a child
{% endblock %}

{% set dueDateUntrimmed %}
  {{ data["due-date"] or dataMacros.dueDate(data) }}
{% endset %}
{% set dueDate = (dueDateUntrimmed | trim) %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukBackLink({
        text: "Back",
        href: "due-date"
      }) }}
      <h1 class="govuk-heading-xl">
        Plan leave and pay when you have a child
      </h1>
      <p>
        Use the calendar below to select the weeks you and your partner would like to take off work when you're having a child.
      </p>
      <p>
        The planner will work out the most suitable type of leave based on who is taking time off, when it’s being taken and how many weeks you want to take.
      </p>
    </div>
  </div>
  <form action="planner/key-dates" method="POST">
    <input name="due-date" type="hidden" value="{{ dueDate }}">
    <div class="govuk-grid-row">
      <div id="leave-calendar-container" class="govuk-grid-column-two-thirds govuk-!-margin-bottom-6">
        <table id="leave-calendar" class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="col"></th>
              <th class="govuk-table__header" scope="col">Mother</th>
              <th class="govuk-table__header" scope="col">Partner</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            {% for i in range(-11, 52) %}
              {% set date = (dueDate | startOfWeek | offsetWeeks(i) | formatDate("YYYY-MM-DD")) %}
              {% if (i === -11) or ((date | formatDate("DD") | int) <= 7) %}
                <tr class="month govuk-table__row govuk-!-font-weight-bold">
                  <td class="govuk-table__cell" colspan="3">
                    {{ date | formatDate("MMMM YYYY") }}
                  </td>
                </tr>
              {% endif %}
              {% if (i === 0) %}
                <tr class="birth-week govuk-!-font-weight-bold govuk-!-font-size-16">
                  <td></td>
                  <td colspan="2">
                    Birth week
                  </td>
                </tr>
              {% endif %}
              {% set beforeBirthWeek = i < 0 %}
              {% set firstTwoBirthWeeks = (i >= 0) and (i < 2) %}
              {% set firstEightBirthWeeks = (i >= 0) and (i < 8) %}
              <tr class="govuk-table__row week {% if beforeBirthWeek %}before-birth-week{% endif %} {% if firstTwoBirthWeeks %}mother-leave{% endif %} {% if firstEightBirthWeeks %}paternity-eligible-week{% endif %}">
                <td class="govuk-table__cell">
                  {{ date | formatDate("DD MMM") }}
                </td>
                {% set motherId = "mother-" + date %}
                <td data-week="{{i}}"
                  class="govuk-table__cell mother {% if firstTwoBirthWeeks %}compulsory disabled{% endif %}">
                  <input type="checkbox" id="{{ motherId }}" name="{{ motherId }}" class="mother-leave-input"
                    {% if data[motherId] or firstTwoBirthWeeks %}checked{% endif %}>
                  <label for="{{ motherId }}">
                    <span class="maternity-leave">
                      {% if firstTwoBirthWeeks %}
                        Compulsory maternity leave
                      {% else %}
                        Maternity leave
                      {% endif %}
                    </span>
                    <span class="shared-parental-leave">
                      Shared parental leave
                    </span>
                  </label>
                </td>
                {% set partnerId = "partner-" + date %}
                <td data-week="{{i}}"
                  class="govuk-table__cell partner {% if beforeBirthWeek %}disabled{% endif %}">
                  <input type="checkbox" id="{{ partnerId }}" name="{{ partnerId }}" class="partner-leave-input"
                    {% if data[partnerId] %}checked{% endif %}>
                  <label for="{{ partnerId }}">
                    <span class="paternity-leave">
                      Paternity leave
                    </span>
                    <span class="shared-parental-leave">
                      Shared parental leave
                    </span>
                  </label>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="govuk-grid-column-one-third">
        <h2 class="govuk-heading-m">
          Leave weeks
        </h2>
        <p>Any unused maternity leave can be taken as shared parental leave.</p>
        {{ govukSummaryList({
          classes: "planner-sidebar",
          rows: [
            {
              key: {
                text: "Maternity"
              },
              value: {
                html: '<span id="maternity-weeks"></span>'
              }
            },
            {
              key: {
                text: "Mother's SPL"
              },
              value: {
                html: '<span id="mothers-spl-weeks"></span>'
              }
            },
            {
              key: {
                text: "Partners's SPL"
              },
              value: {
                html: '<span id="partners-spl-weeks"></span>'
              }
            },
            {
              key: {
                classes: "maternity-spl-remaining-total",
                text: "Remaining"
              },
              value: {
                classes: "maternity-spl-remaining-total",
                html: '<span id="maternity-spl-remaining-weeks"></span>'
              }
            }
          ]
        }) }}
        <div class="leave-messages">
          <p id="maternity-maximum" class="govuk-body-s warning">
            You have taken more than the maximum of 52 weeks maternity or shared parental leave.
          </p>
          <p id="no-more-shared" class="govuk-body-s info">
            You have no more shared parental leave, reduce your maternity leave to create more.
          </p>
          <p id="can-break-shared" class="govuk-body-s info">
            Remember, you can break up shared parental leave with periods of work.
          </p>
        </div>
        <p>Paternity leave is a separate entitlement.</p>
        {{ govukSummaryList({
          classes: "planner-sidebar",
          rows: [
            {
              key: {
                text: "Paternity"
              },
              value: {
                html: '<span id="paternity-weeks"></span>'
              }
            },
            {
              key: {
                text: "Remaining"
              },
              value: {
                html: '<span id="paternity-remaining-weeks"></span>'
              }
            }
          ]
        }) }}
      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <p>
          Press next for a summary of key dates.
        </p>
        <button type="submit" class="govuk-button">
          Next
        </button>
      </div>
    </div>
  </form>

{% endblock %}
