{% from "back-link/macro.njk" import govukBackLink %}
{% from "summary-list/macro.njk" import govukSummaryList %}

{% from "leave-block-summary.njk" import leaveBlockSummary %}

{% extends "layout.html" %}

{% block pageTitle %}
  Plan leave and pay when you have a child
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukBackLink({
        text: "Back",
        href: "/shared-parental-leave-planner/planner"
      }) }}
      <h1 class="govuk-heading-xl">
        Key dates summary
      </h1>
      <p>
        If you are happy with these dates, press next at the bottom of the page to get a personalised letter that you can use to notify your employer of your leave plans.
      </p>
      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Baby is due"
            },
            value: {
              text: data["due-date"] | formatDate("DD MMMM YYYY")
            }
          },
          {
            key: {
              text: "Notify employers of maternity leave"
            },
            value: {
              text: "by " + (data["due-date"] | offsetWeeks(-15) | formatDate("DD MMMM YYYY"))
            }
          }
        ]
      }) }}
      <h2 class="govuk-heading-l">
        Mother's leave dates
      </h2>
      {{ leaveBlockSummary("Maternity leave", data["maternity-leave"]) }}
      {% for block in data["mothers-spl-blocks"] %}
        {% if loop.index === 1 %}
          <h3 class="govuk-heading-m">
            Shared parental leave
          </h3>
        {% endif %}
        {{ leaveBlockSummary("Block " + loop.index, block) }}
      {% endfor %}
      <h2 class="govuk-heading-l">
        Partner's leave dates
      </h2>
      {% if (not data["paternity-leave"]) and (data["partners-spl-blocks"].length === 0) %}
        <p>
          The mother's partner is not planning to take any paternity leave or shared parental leave.
        </p>
      {% endif %}
      {% if data["paternity-leave"] %}
        {{ leaveBlockSummary("Paternity leave", data["paternity-leave"]) }}
      {% endif %}
      {% for block in data["partners-spl-blocks"] %}
        {% if loop.index === 1 %}
          <h3 class="govuk-heading-m">
            Shared parental leave
          </h3>
        {% endif %}
        {{ leaveBlockSummary("Block " + loop.index, block) }}
      {% endfor %}
      <form action="mothers-name" method="POST">
        <button type="submit" class="govuk-button">
          Next
        </button>
      </form>
    </div>
  </div>

{% endblock %}
