{% from "back-link/macro.njk" import govukBackLink %}
{% from "input/macro.njk" import govukInput %}

{% extends "layout.html" %}

{% block pageTitle %}
  Plan leave and pay when you have a child
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukBackLink({
        text: "Back",
        href: "address"
      }) }}
      <h1 class="govuk-heading-xl">
        Notice to employers
      </h1>
      <span class="govuk-caption-l">Question 4 of 4</span>
      <form action="notice" method="POST">
        {{ govukInput({
          label: {
            text: "What is the mother's National Insurance number?",
            isPageHeading: true,
            classes: "govuk-label--l"
          },
          hint: {
            text: "This number can be found on a National Insurance card, benefit letter, payslip or P60. For example, ‘QQ 12 34 56 C’."
          },
          classes: "govuk-input--width-10",
          id: "mothers-national-insurance-number",
          name: "mothers-national-insurance-number",
          value: data["mothers-national-insurance-number"],
          attributes: {
            spellcheck: "false"
          }
        }) }}
        <button type="submit" class="govuk-button">
          Next
        </button>
      </form>
    </div>
  </div>

{% endblock %}
