{% from "summary-list/macro.njk" import govukSummaryList %}

{% macro leaveBlockSummary(name, block) %}
  {% set weeks = (block.end | totalWeeks(block.start)) | int %}
  {{ govukSummaryList({
    rows: [
      {
        key: {
          text: name + " starts"
        },
        value: {
          text: block.start | formatDate("DD MMMM YYYY")
        }
      },
      {
        key: {
          text: name + " ends"
        },
        value: {
          text: block.end | offsetWeeks(1) | formatDate("DD MMMM YYYY")
        }
      },
      {
        key: {
          text: "Length"
        },
        value: {
          text: weeks + " week" + ("s" if weeks !== 1)
        }
      }
    ]
  }) }}
{% endmacro %}
