{% from "summary-list/macro.njk" import govukSummaryList %}

{% macro leaveBlockSummary(options) %}
  {% set weeks = (options.block.end | totalWeeks(options.block.start)) | int %}
  {{ govukSummaryList({
    rows: [
      {
        key: {
          text: options.name + " starts"
        },
        value: {
          text: options.block.start | formatDate("DD MMMM YYYY")
        }
      },
      {
        key: {
          text: options.name + " ends"
        },
        value: {
          text: options.block.end | offsetWeeks(1) | formatDate("DD MMMM YYYY")
        }
      },
      {
        key: {
          text: "Length"
        },
        value: {
          text: weeks + " week" + ("s" if weeks !== 1)
        }
      },
      {
        key: {
          text: "Notify employers"
        },
        value: {
          html: "by " + (options.notify.date | formatDate("DD MMMM YYYY")) + ("*" if options.notify.asterisk) + "<br>" +
            "(" + options.notify.explanation + ")"
        }
      }
    ]
  }) }}
{% endmacro %}
