{% from "input/macro.njk" import govukInput %}
{% import "data-macros.njk" as dataMacros %}

{% extends "layout.html" %}

{% block pageTitle %}
  Plan leave and pay when you have a child
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Notice to employers
      </h1>
      <p>
        Check your details are correct, then click on the links below to see letters you can use to notify your employer of your leave plans.
      </p>
      <h2 class="govuk-heading-l">
        Your details
      </h2>
      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Mother's name"
            },
            value: {
              text: data["mothers-name"]
            },
            actions: {
              items: [
                {
                  href: "mothers-name",
                  text: "Change",
                  visuallyHiddenText: "mother's name"
                }
              ]
            }
          },
          {
            key: {
              text: "Partner's name"
            },
            value: {
              text: data["partners-name"]
            },
            actions: {
              items: [
                {
                  href: "partners-name",
                  text: "Change",
                  visuallyHiddenText: "partner's name"
                }
              ]
            }
          },
          {
            key: {
              text: "Address"
            },
            value: {
              html: dataMacros.address(data, "<br>")
            },
            actions: {
              items: [
                {
                  href: "address",
                  text: "Change",
                  visuallyHiddenText: "address"
                }
              ]
            }
          },
          {
            key: {
              text: "Mother's National Insurance number"
            },
            value: {
              text: data["mothers-national-insurance-number"]
            },
            actions: {
              items: [
                {
                  href: "mothers-national-insurance-number",
                  text: "Change",
                  visuallyHiddenText: "mother's national insurance number"
                }
              ]
            }
          }
        ]
      }) }}
      <h2 class="govuk-heading-l">
        Letters of notice for shared parental leave
      </h2>
      {% set motherTakingSpl = (data["mother-shared"] | int) > 0 %}
      {% set partnerTakingSpl = (data["partner-shared"] | int) > 0 %}
      {% if motherTakingSpl or partnerTakingSpl %}
        <p>
          {% if motherTakingSpl and partnerTakingSpl %}
            Both the mother and her partner are intending to take shared parental leave.
          {% elif motherTakingSpl %}
            Only the mother is intending to take shared parental leave.
          {% else %}
            Only the mother's partner is intending to take shared parental leave.
          {% endif %}
        </p>
        <p>
          {% if partnerTakingSpl %}
            These letters
          {% else %}
            This letter
          {% endif %}
          can be used to inform employers of the intention to take shared parental leave.
        </p>
        <ul class="govuk-list govuk-list--bullet">
          {% if motherTakingSpl %}
            <li>
              <a href="notice/letter/mothers-curtailment-and-shared-parental-leave">
                Mother's curtailment notice and intention to take shared parental leave
              </a>
            </li>
          {% elif partnerTakingSpl %}
            <li>
              <a href="notice/letter/mothers-curtailment-and-consent-for-partners-shared-parental-leave">
                Mother's curtailment notice and consent for partner to take shared parental leave
              </a>
            </li>
          {% endif %}
          {% if partnerTakingSpl %}
            <li>
              <a href="notice/letter/partners-shared-parental-leave">
                Partner's intention to take shared parental leave
              </a>
            </li>
          {% endif %}
        </ul>
      {% else %}
        <p>
          Neither the mother nor her partner are intending to take shared parental leave.
        </p>
      {% endif %}
    </div>
  </div>

{% endblock %}
