{% from "input/macro.njk" import govukInput %}
{% import "data-macros.njk" as dataMacros %}

{% extends "layout.html" %}

{% block pageTitle %}
  Plan leave and pay when you have a child
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Leave notices
      </h1>
      <h2 class="govuk-heading-l">
        Your details
      </h2>
      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Mother's name"
            },
            value: {
              text: data["mothers-name"]
            },
            actions: {
              items: [
                {
                  href: "mothers-name",
                  text: "Change",
                  visuallyHiddenText: "mother's name"
                }
              ]
            }
          },
          {
            key: {
              text: "Partner's name"
            },
            value: {
              text: data["partners-name"]
            },
            actions: {
              items: [
                {
                  href: "partners-name",
                  text: "Change",
                  visuallyHiddenText: "partner's name"
                }
              ]
            }
          },
          {
            key: {
              text: "Address"
            },
            value: {
              html: dataMacros.address(data, "<br>")
            },
            actions: {
              items: [
                {
                  href: "address",
                  text: "Change",
                  visuallyHiddenText: "address"
                }
              ]
            }
          },
          {
            key: {
              text: "Mother's National Insurance number"
            },
            value: {
              text: data["mothers-national-insurance-number"]
            },
            actions: {
              items: [
                {
                  href: "mothers-national-insurance-number",
                  text: "Change",
                  visuallyHiddenText: "mother's national insurance number"
                }
              ]
            }
          }
        ]
      }) }}
      <h2 class="govuk-heading-l">
        Letters of notice
      </h2>
      <p>
        These letters can be used to inform your employer of your intention to take leave.
      </p>
      <ul class="govuk-body">
        <li>
          <a href="notice/letter/mothers-curtailment-and-shared-parental-leave">Mother's curtailment notice and intention to take shared parental leave</a>
        </li>
        <li>
          <a href="notice/letter/partners-shared-parental-leave">Partner's shared parental leave</a>
        </li>
      </ul>
    </div>
  </div>

{% endblock %}
